[2013-10-22 21:17] gjtorikian opened #1 "Toggle comment strips "i" in "if""
![2013-10-22 14_16_33](https://f.cloud.github.com/assets/64050/1385473/5e1fbc46-3b5f-11e3-8c03-3d4da4a18194.gif)

[2013-10-26 22:26] #1 closed, assigned to kevinsawicki

[2014-02-26 09:22] gnzlbg opened #2 "Use clang's libtooling for syntax highlighting"
Ditto.

[2014-02-27 23:38] cscheid opened #3 "auto-curly braces clashes with auto-indent"
![bad_brace_behavior](https://f.cloud.github.com/assets/285675/2289420/c3cbc988-a007-11e3-9117-72bbbd040d86.gif)

Auto-indent only works when line ends in open curly-brane, which is checked before the event mutates the text. At that time, the pesky close brace is in the way.

Qt Creator, for example, does _not_ automatically add curly braces. Instead, it appears to  check for a carrier return pres

[2014-02-28 01:38] #3 closed, assigned to nobody

[2014-03-03 15:38] shinymimiq opened #4 "Missing index in "for" snippet"
When I use "for" snippet, it will give me

![screen shot 2014-03-03 at 15 36 09](https://f.cloud.github.com/assets/956438/2310842/922008a6-a2e9-11e3-9c06-3d71fd0ac818.png)

It seems there is a missing 'i' after first ';'

The snippet shows:

for(size_t ${1:i} = 0; $2 < ${2:count}; ${3:i}++)\n{\n\t${4:/\* code */}\n}

I think it is because the use of $2 after the first ';'.

[2014-03-03 17:51] #4 closed, assigned to nobody

[2014-03-09 19:18] theplatapi opened #7 "Developer Tools opens when I hit <enter> inside of curly brace array initialization"
I have an array that looks like this:

[code]

When I try to break it up into multiple lines, the developer tools for web pages opens, pictured below.

![screen shot 2014-03-09 at 12 17 06 pm](https://f.cloud.github.com/assets/5661209/2368840/7db2cb3a-a7bf-11e3-8ca7-c244558ee034.png)

[2014-03-09 20:42] danfuzz opened #8 "C function bodies are highlighted strangely."
On a vanilla install of Atom v0.69.0, it looks like function bodies in C or C++ get highlighted a bit oddly. Here's an example (using the Atom light theme):

![c-fn-highlight](https://f.cloud.github.com/assets/1090235/2369050/1b28a8b6-a7cb-11e3-948d-97b4de650b62.png)

I looked at the DOM tree, and it seems that the entire function body gets styled as `meta function c`, which AIUI should only have

[2014-03-10 17:49] #8 closed, assigned to nobody

[2014-03-11 01:48] #7 closed, assigned to nobody

[2014-03-17 18:16] EntilZha opened #9 "Add .cu Files as C++"
Would it be possible to add .cu (cuda) files to the C++ file types? I can make a pull request, but its a very small change so it might be easier to make a regular commit.

[2014-03-18 14:58] barringtonhaynes opened #10 "Add Arduino .ino files as C++"
Would it be possible to add .ino to the C++ file types as this is handy when editing Arduino files.

[2014-03-19 15:45] #10 closed, assigned to nobody

[2014-03-30 08:02] andreicek opened #11 "Any key opens a web inspector"
Please take a look at [atom.io discussion](http://discuss.atom.io/t/any-key-opens-a-web-inspector/6491).

Thanks.

[2014-03-31 18:00] #11 closed, assigned to nobody

[2014-04-03 03:48] sughodke opened #13 "Block comments false positive"
Got a false positive on a block comment, basically "/ *" (backslash space asterisk) was considered the start of a comment.

[code]

[2014-04-03 08:18] kmark opened #14 "C++ namespace keyword causes window to become unresponsive"
A few things completely crash the Atom window. The only one I can think of right now is `namespace`

Open up a new C++ document/window and type namespace. Or try to.

[2014-04-03 16:27] #14 closed, assigned to nobody

[2014-04-03 17:11] BlueSpaceCanary opened #16 "Editing namespace blocks causes Atom to hang"
A project I'm working on has a block of the form

[code]

With C Language enabled, I get two related weird symptoms:
1. Trying to put a newline anywhere between the "namespace" keyword and the close brace causes the Atom window to hang.
2. Trying to insert any character inside the block itself also causes a hang. Deletions work fine as far as I can tell.

[2014-04-03 19:16] rougeth opened #17 "Comment keybind ignoring indentation"
It happens just with empty lines:

![bug](https://cloud.githubusercontent.com/assets/431892/2607923/44288acc-bb64-11e3-887c-8f50564829fd.gif)

[2014-04-04 19:12] #17 closed, assigned to nobody

[2014-04-10 21:01] #16 closed, assigned to nobody

[2014-05-14 01:50] mdaniel opened #20 "Array with 32 strings causes syntax highlight continuation"
This is with 0.15.0 which is the [current version](https://github.com/atom/atom/blob/master/package.json#L110) in atom.

I had to leave out a few details to make the summary short, but a double keyworded variable with 32 strings on one line causes the syntax highlighting to continue whatever color ended the array for the rest of the file.

It is important that the variable have two highlight regio

[2014-05-16 00:45] theplatapi opened #21 "Indenting undone when I enter "public:" in class declearation"
I'm creating a c++ class in a header file.
Adding public: or private: indented undos the indent. So

[code]

instead of

[code]

[2014-06-13 10:15] detly opened #23 "Syntax highlighting for function calls breaks with line breaks"
Breaking the line between a function name and the opening parenthesis of a function call in C is valid syntax, but fails to be correctly highlighted. Adding space is fine though.

![atom_c_highlight](https://cloud.githubusercontent.com/assets/311239/3265622/a0a4048e-f296-11e3-9a77-057eedd163a4.gif)

This is using the _Base 16 Tomorrow Dark_ theme.

[2014-06-17 17:35] #9 closed, assigned to kevinsawicki

[2014-06-19 19:14] Snake231088 opened #24 "files .c are always under c++ grammar"
Remove C extension from extensions list of c++ (source.c++) so linter-clang package (https://atom.io/packages/linter-clang) swap automatically and lint correctly.
I think that is a good idea link c files with grammar c and not c++.

[2014-06-19 19:55] #24 closed, assigned to kevinsawicki

[2014-06-20 14:56] tsangiotis opened #25 "Switch identation problems"
I have a switch code example indented by Atom:

[code]

This is the same code Indented by Vim:

[code]

As you see `case` doesn't trigger a indent.

[2014-06-20 15:02] tsangiotis opened #26 "One line if/else statements not indenting"
Indentation should be:

[code]

But is:

[code]

When statement without  braces.

[2014-06-20 15:37] #26 closed, assigned to kevinsawicki

[2014-06-20 17:03] tsangiotis opened #28 "Auto-Indentation does not recognise closing brackets if something other than whitespace or nothing is before."
This is the original code:

[code]

This is the indented by atom code:

[code]

If I put `};` on the line below indenting works correctly.

[code]

[2014-06-21 05:36] kangear opened #29 "How to build a C program "Hello world!"?"
I created a test.c file which content is "Hello world!" C program:

[code]

But I don't know how to build it!

Need to install other package?

[2014-06-21 05:49] #29 closed, assigned to nobody

[2014-06-28 17:06] #20 closed, assigned to nobody

[2014-07-03 19:48] 0xShammah opened #30 "Wrong syntax higlighting parenthesis"
The syntax highlighting of parenthesis in function calls does not work properly, as demonstrated in the image below.

http://imgur.com/KfDzDrj
![image](https://cloud.githubusercontent.com/assets/1854439/3474962/cb024376-02ea-11e4-966d-c99b608fdeaa.png)

[2014-07-03 20:10] #30 closed, assigned to nobody

[2014-07-08 13:30] sfan5 opened #31 "Strings in #define's are not highlighted"
Atom 0.109.0, language-c 0.21.0, Linux
![screenshot - 08 07 2014 - 15 26 02](https://cloud.githubusercontent.com/assets/1042418/3510148/ed5ab748-06a3-11e4-8ab8-f38618d3cab2.png)

[2014-07-09 11:38] griff73 opened #32 "Singleline indentation for if/else statements producing undesirable side effects"
I believe that this problem may be a side effect of the single line indentation behaviour.

If I type an 'if' statement and enter the brackets on the next line I find that the brackets are not un-indented, as follows:

[code]

It would be good for the brackets to automatically un-indent in this case

Similarly if I enter an 'if' statement (even if I use the snippet to do so) and enter an 'else' be

[2014-07-16 10:31] #32 closed, assigned to nobody

[2014-09-08 22:52] lee-dohm opened #37 "Update "this" to add a ".this" class"
See: atom/language-coffee-script#39

Per the discussion on the CoffeeScript language package, it makes sense to keep the various default Atom language packages consistent. So rather than `this` being given a class of `variable.language` it should be given a class of `variable.language.this`.

[2014-09-14 22:15] tsangiotis opened #38 "One line while causes indentation"
One line while causes indentation issues.
![screen shot 2014-09-15 at 1 11 33](https://cloud.githubusercontent.com/assets/697354/4265717/490c0f4a-3c5c-11e4-9195-11399dad3477.png)

[2014-09-14 22:17] tsangiotis opened #39 "One line else statement bracket issue"
One line else statement considers following brackets as "it's own".
![screen shot 2014-09-15 at 1 13 52](https://cloud.githubusercontent.com/assets/697354/4265731/e1d6a898-3c5c-11e4-9a1e-757502234743.png)

[2014-10-09 07:39] fcharlie opened #40 "C++11 keyword cannot be syntax highlighted"
As shown in Figure
![Image](http://static.oschina.net/uploads/space/2014/1009/153635_Wrtw_139664.jpeg)

[2014-10-17 16:25] #40 closed, assigned to kevinsawicki

[2014-11-26 23:14] stuthedew opened #45 "Type names of form "sometype_t" lose syntax highlighting with capitalization."
So maybe this is just a convention that I am not familiar with, but I've noticed something weird (at least to me) about Atom's C syntax highlighting.
Specifically, type names ending with "_t" are only highlighted if all letters are lowercase. For example:
[code]
I've just noticed that it does the same thing here after posting the above example. Is this a bug or just expected behavior?

Thanks!

[2014-12-02 19:48] nickvanderstel opened #47 "Allman-style indentation issue"
The indentation is not being decreased properly when using Allman-style indents.

We want this:

[code]

And get this:

[code]

[2014-12-08 18:19] #47 closed, assigned to nobody

[2014-12-08 18:22] #38 closed, assigned to nobody

[2014-12-13 14:36] wasamasa opened #50 "Syntax highlighting: First three numeral escapes are highlighted as error"
Offending code taken from https://github.com/Cloudef/xcmenu:

[code]

`\1`, `\2` and `\3` are highlighted with red background (an error?), `\4` and `\5` are highlighted correctly.

[2014-12-17 22:58] #50 closed, assigned to nobody

[2014-12-23 11:34] sir-mulan opened #52 "Inconsistency in EOL around curly brackets and spaces after keywords"
The use of EOL in snippets around curly brackets and spaces after statement keywords is inconsistent, for instance `if` transforms into

[code]

while `while` into

[code]

Judging by 83b6f1843d31aaa0cc281db1cbc685332de5a25a, the latter is preferable (to me as well) and I can create a PR to fix that, however I'm currently unable to figure out how to properly not highlight the round bracket followi

[2014-12-23 11:47] #52 closed, assigned to nobody

[2014-12-24 04:51] ghost opened #54 "C++ syntax settings selector not working properly"
I'm just getting ramped up with Atom and really liking it, however I'm having an issue with C++ syntax settings. I've added the following to my config:

[code]

And it works just fine. However if I open the settings UI it modifies my config to this:

[code]

This doesn't end up working; my C++ files now show up with my default 2 space tab size instead of my desired 4 spaces.

I've also noticed tha

[2014-12-24 19:36] maxbrunsfeld opened #56 "Help community-packages migrate to new scope name"
Once #55 is released, send PRs to these packages. For now, they should probably handle both the old scopes (`source.c++`, `source.objc++`) and the new scopes (`source.cpp`, `source.objcpp`), for compatibility with older versions of Atom.

Update core packages:
- [x] [symbols-view](https://github.com/atom/symbols-view) atom/symbols-view#65
- [x] [language-ruby](https://github.com/atom/language-ruby

[2014-12-24 23:44] #54 closed, assigned to maxbrunsfeld

[2014-12-25 00:15] #56 closed, assigned to maxbrunsfeld

[2014-12-28 18:27] lihebi opened #57 "Snippets "Class", etc doesn't work in .h file"
When I want to use `cl` snippet in my c++ project's header file(I prefer to use `.h` instead of `.hpp`, and I believe so do many people), I notice that it doesn't work.

The reason is that, although there are .h declarations in both `grammars/c.cson` and `grammars/c++.cson`, only `.source.c` class is added to a `.h` file in atom. However in snippets, `cl` is defined for only `.source.cpp` in `snip

[2015-01-10 13:48] Melodatron opened #60 "No automatic indent after a switch or case statement"
When using curly brackets after a switch or case statement, the bracket line is set to having one indentation less, as there is no automatic indent after each of these keyword (as opposed to if or else).
Preferable, is that the switch and case keywords also trigger an automatic indentation.

[2015-01-14 01:43] zeckalpha commented on #23
I had a similar, perhaps related issue with macros in munificent/wren/pull/105:

[code]

It looks like GitHub breaks on this, too. Not sure there is a good solution since it would involve the syntax highlighter evaluating cpp to decide what to do.

[2015-01-16 19:43] thehutch opened #61 "Certain keywords not being highlighted"
The following C++ keywords are not being highlighted in Atom:

* nullptr
* this
* constexpr
* throw
* noexcept

Here are some screenshots of some of the keywords:

![Nullptr](https://dl.dropboxusercontent.com/u/38714192/nullptr.png)
![NoExcept & Throw](https://dl.dropboxusercontent.com/u/38714192/noexcept_throw.png)

[2015-01-16 20:03] kevinsawicki commented on #61
Does the status bar say `C++` or `C` for the file being edited? Just want to make sure the right grammar is being used.

[2015-01-16 23:14] thehutch commented on #61
In the bottom right hand corner, it says C++.

[2015-01-27 16:10] thehutch commented on #61
Ah, I found the issue. It's not to do with language-c but instead with Monokai. I tested with other themes and they all highlight correctly.

[2015-01-27 17:14] #61 closed

[2015-02-07 02:09] jplatte commented on #31
Wow, I didn't expect to find an existent bug report for this. I experienced a very similar problem, only that it messed up my whole document because the string which didn't get highlighted had a `(` in it which was then interpreted as being outside the string.

A practical example where all highlighting of text after this bug occurs is messed up:

    Foo foo(getSomeString() + " (" + otherString +

[2015-03-10 21:51] NatalieWolfe commented on #28
:+1:

I encounter this all the time with constructors with initializer lists but no body, like this:
[code]

[2015-03-11 18:09] NatalieWolfe commented on #2
:+1:

[2015-03-13 23:04] 50Wliu opened #65 "for snippet not working"
[code]

Most likely due to the `++`.
Instead of ending up at the `/* code */` part the snippet breaks at the tabstop before `++` and inserts a literal tab instead of moving to `++`.

![for](https://cloud.githubusercontent.com/assets/2766036/6648724/9b4feb7a-c9b3-11e4-9150-b9dac1f5d787.gif)

Atom 0.187.0, safe mode, Ubuntu 14.10.

[2015-03-16 23:42] jplatte opened #66 "Only one file extension for template implementations in c++.cson"
Other than the one already there, `.ipp`, the file extensions `.tcc` and `.tpp` are also used for template implementations outside of header files.

[2015-03-16 23:43] jplatte commented on #66
I'd suggest supporting all file extensions that GitHub recognizes: https://github.com/github/linguist/blob/master/lib/linguist/languages.yml#L392

[2015-03-24 00:49] 50Wliu commented on #65
This is actually caused by a snippets bug with multiple tab stops (see above issue), so closing this out.
`for (size_t ${1:i} = 0; $1 < ${2:count}; $1${3:asdfjklmnop}) {\n\t${4:/* code */}\n}` will also reproduce which is my main reason for closing this.

[2015-03-24 00:49] #65 closed

[2015-04-03 00:38] #66 closed

[2015-04-18 18:50] rumpelsepp opened #70 "C highlighting broken for strfdate"
When using strftime-style strings the highlighting for C is broken:

[code]
![screenshot from 2015-04-18 19-39-59](https://cloud.githubusercontent.com/assets/1961699/7216806/76fe7dd4-e60c-11e4-8c25-023eff821d06.png)

see also: https://github.com/atom/atom/issues/6432

[2015-05-17 04:39] abhisekpadhi opened #71 "Auto-complete bug in printf and scanf"
![screenshot from 2015-05-16 21 21 20](https://cloud.githubusercontent.com/assets/7055940/7669070/a2b4805a-fc7c-11e4-8b2a-10543d1ec6c3.png)
Instead of adding \n auto complete adds n, same issue with scanf. I'm on Ubuntu 14.04, atom v0.199.0

[2015-05-19 18:59] muppetjones commented on #28
I've been having a ton of trouble with indentation issues across atom, and I opened an issue Initial post [here](https://github.com/atom/atom/issues/6655).

I've been coding in python lately, but I've been having similar problems:
[code]

[2015-05-19 19:01] muppetjones commented on #21
Probably related: [here](https://github.com/atom/atom/issues/6655).

[2015-05-27 17:49] #71 closed

[2015-05-28 05:19] adiultra opened #73 "cout cin are not highlighted"
cout and cin are not highlighted by default please add them to be highlighted.
they appear as normal text in the editor.
[code]

[2015-06-06 02:40] dschwen commented on #21
Some code styles actually require the access qualifiers to be unindented.

[2015-06-07 11:54] Sleepwalking opened #75 "C source code highlighting not functioning after macro definition containing > and parentheses"
(moved from [atom/atom #7151](https://github.com/atom/atom/issues/7151))

Atom (and also github's markdown) only highlights the first line but not the second line for the following C code:

[code]

And after the second line everything is fine again.

Here's a more realistic senario:

[code]

This bug only happens when there is one or more letter between `>` and `(`, including spaces but excluding

[2015-06-24 02:10] felipeanchieta opened #77 ":art: Use K&R style for functions brackets"
The current snippet provides the following style for functions brackets:

[code]
But most C (and C++) programmers makes use of K&R style for its readability:

[code]

I've already submitted a commit trying to change this.

[2015-06-24 02:30] paulcbetts commented on #77
I'm not sure that this is true, though I'll leave it up to the crowd to decide

[2015-06-28 11:02] jbreitbart commented on #61
noexcept is not highlighted for me regarding which syntax theme I use. The other ones named in the original bug report are fine, however. Status bar reports C++

[2015-06-28 12:03] mnquintana commented on #61
@jbreitbart Would you mind opening a separate issue for that?

[2015-06-28 12:25] jbreitbart opened #78 "C++11: noexcept not highlighted"
In C++ code the qualifier noexcept is not highlighted correctly. I have tried various syntax themes

Here is an example code:

[code]

![noexecpt](https://cloud.githubusercontent.com/assets/881727/8396325/6fda2996-1da1-11e5-806d-4cbad3020f26.png)

[2015-07-04 11:46] changnet opened #80 "hightlight wrong when use global namespace symbol"
![2015-07-04 19 45 49](https://cloud.githubusercontent.com/assets/9293777/8507779/4e951492-2285-11e5-8abc-6fadd30a4832.png)

[2015-07-04 16:08] 50Wliu commented on #80
Are you sure the problem isn't actually happening on this line?
[code]
It looks like the brackets at the end are interfering with string highlighting.

[2015-07-06 03:43] changnet commented on #80
it do happening on this line,no matter global namespace symbol(::) exist or not
[code]
but the code below
[code]
it hightlighting right without global namespace symbol
![20150706113944](https://cloud.githubusercontent.com/assets/9293777/8515383/1cde94be-23d4-11e5-9ffc-a72c9fc708d9.jpg)

[2015-07-07 00:22] 50Wliu commented on #80
Thanks for the extra info, @changnet!  I can reproduce this now.

[2015-07-20 22:42] jaredmpayne opened #81 "C++ syntax highlighting does not behave properly in some class inheritance cases"
The commented screenshot shows expected and observed behavior.
This occurred on OS X. I am running 10.11 Beta, but I'm confident I've experienced this behavior in 10.10 as well.

<img width="530" alt="screen shot 2015-07-20 at 3 45 45 pm" src="https://cloud.githubusercontent.com/assets/7102870/8786885/765f659a-2ef6-11e5-8d82-cb62e5fa7065.png">

[2015-07-24 15:16] nathansizemore opened #82 "Function pointers declaration as parameters break highlighting"
<img width="470" alt="screen shot 2015-07-24 at 11 14 21 am" src="https://cloud.githubusercontent.com/assets/3423825/8877813/73fe8522-31f5-11e5-9162-7e0c1965be9b.png">

[2015-07-28 08:45] vladimir-didenko opened #83 "Code inside #if block is not highlighted"
Code inside #if block is not highlighted. There is simple test case to trigger issue

[code]

[2015-07-29 16:16] #37 closed

[2015-07-30 11:02] theonlygusti commented on #60
In my experience, atom seems only to indent after a `{` bracket. Which is horrible.

[code]

I hate this, honestly, and so would like this issue to receive more attention.

I think, however, your reason for frustration is slightly different to mine; I'd just like atom to auto-indent after cases.

[2015-08-08 18:52] kishoreatgithub commented on #75
Thanks!!!

[2015-08-09 09:38] remexre opened #85 ".h.in file syntax highlighting not enabled"
I'm pretty sure a file of the form *.h.in should be considered a C header; other C-family header extensions (eg *.hpp.in) should probably be detected as the appropriate language.

[2015-08-09 10:25] vladimir-didenko commented on #45
There are several related problems.

1. Variable that ends with _t is highlighted as type e.g.

[code]

2. Non standard types that are not ended with _t are not highlighted at all e.g.

[code]

[2015-08-27 20:30] Kamairo commented on #57
Well, thats the old C/C++ issue, because .h is marked as both C and C++. You have the following possibilities:
 - Change c.cson and delete the .h extension: This will of course detect all .h files as C++.
 - Change the language by hand, just click on the C on the bottom bar (on the right) and select C++: This will only change the language detection for that single file. You will need to change tha

[2015-09-17 09:54] chfast opened #89 ".h C++ header recognized as C header"
C++ headers can have *.h file extension. Can some additional heuristic be applied to recognize C++ headers from C headers. E.g. checking if `class` keyword is used in the file.

I'm willing to fix that, but I don't know where to start. I've scanned the source but the package is quite declarative. Where can I find logic behind language recognition?

[2015-09-17 09:56] chfast commented on #85
Have you tried adding `h.in` here: https://github.com/atom/language-c/blob/master/grammars/c.cson#L2 ?

[2015-09-26 18:34] cgel opened #90 "Templates not highlighted properly"
[code]

In atom, just like here in github the highlighting of templated member functions does not seem to work properly.
Why isn't `A<T>::func()` highlited?

[2015-10-09 06:54] xiaochuanyu opened #92 "open bracket at end of an #ifdef breaks highlighting"
[code]
![screenshot from 2015-10-09 02 52 33](https://cloud.githubusercontent.com/assets/1718745/10387617/e2b71b1a-6e30-11e5-97be-ee73a21ef235.png)

Looks like it breaks github's highlighting as well.

[2015-10-13 17:21] andrsd opened #94 "Add .C to the file extensions"
Our C++ project is using `.C` as a file extension.
Could this be added to the list?

[2015-10-15 15:58] az-z commented on #77
@felipeanchieta
is this what you want http://clang.llvm.org/docs/ClangFormatStyleOptions.html ?

[2015-10-16 10:28] felipeanchieta commented on #77
Exactly, az-z.

[2015-10-16 11:03] thomasjo commented on #77
I'm opposed to changing the current default, at the very least I'd consider it a breaking change, and as such would have to be postponed until Atom v2.

What I am in favor of though, is figuring out a means of allowing users to customize code style used in snippets. That's not trivial however, but worth pursuing.

/cc @atom/feedback

[2015-10-16 12:41] az-z commented on #77
Felipe,
Why not to use it then?
//just curious.
On Oct 16, 2015 6:28 AM, "Felipe Anchieta" <notifications@github.com> wrote:

[2015-10-17 05:30] dwadden opened #96 "Indentation for single-statement bodies inside "for", "while", and "if""
Hi,

The following code is auto-indented in Atom:

[code]

If you give a one-line statement after a for, while, or if (or else), it would be cool if the auto indent did the right thing:

[code]

Right now, you've got to use braces to get the correct indentation.

Was it decided to do things this way, or is this something you'd like changed? If so, I'm happy to try to fix it. I assume it requires e

[2015-10-17 05:40] thomasjo commented on #96
If you are able to implement this without breaking any existing functionality, that'd be great. I don't think this is currently possible, but I've not attempted it. You're going to have to change the indentation pattern options in [settings/language-c.cson](https://github.com/atom/language-c/blob/master/settings/language-c.cson).

Do note that you're likely going to have to handle the scenario wit

[2015-10-17 16:57] dwadden commented on #96
OK, I'll give it a try.
Are there tests I should run to see if I've broken something, or should I just do some experimenting?

[2015-10-17 21:26] 50Wliu commented on #96
@dwadden if you're up to the challenge you can try creating specs that test for indentation: see https://github.com/atom/language-javascript/blob/master/spec/javascript-spec.coffee#L901 for an example.

[2015-10-18 21:57] dwadden commented on #96
After taking a look at [settings/language-c.cson](https://github.com/atom/language-c/blob/master/settings/language-c.cson), I now understand why this is tricky!
Increasing the indent pattern is fine, but decreasing it after a single-line loop body, using only regular expressions, would require a lookbehind regexp.

I know Javascript doesn't do lookbehinds. Atom seems to have them for a fixed numbe

[2015-10-18 22:50] 50Wliu commented on #96
@dwadden Atom uses Onigurama for parsing regex: http://oniguruma.rubyforge.org/oniguruma/files/Syntax_txt.html

[2015-10-24 01:48] dmkerfont opened #97 "Bug in input file snippet line 113."
[code]

'line' and 'myfile' are undefined.
these are previously defined as 'buffer' and 'afile' respectively

[2015-10-25 16:46] laituan245 opened #98 "Weird C++ syntax highlighting (for-loop)"
Why is the variable name 'fIndex' colored red while 'eIndex' and 'dIndex' are colored white ?

![selection_031](https://cloud.githubusercontent.com/assets/3805149/10716662/64c4d368-7b83-11e5-9205-434b3e2543ab.png)

[2015-10-25 18:38] 50Wliu commented on #98
Because of this rule: https://github.com/atom/language-c/blob/master/grammars/c%2B%2B.cson#L46-L48

[2015-10-25 20:16] Victorystick commented on #98
Urgh! :stuck_out_tongue:

[2015-10-27 14:58] thedaniel commented on #98
I'm going to close this as "won't fix", because (I believe) this highlighting pattern came from TextMate and is not uncommon in other editors. Sorry that it doesn't look nice in your code example!

[2015-10-27 14:58] #98 closed

[2015-10-27 19:13] fbbdev opened #99 "Add full support for C++11/14 syntax"
The syntax highlighter is confused by raw strings when they contain quotes, and some other quirks show up sometimes. Best solution at the moment is to install [jbw3/language-cpp14](https://github.com/jbw3/language-cpp14), but this forces me to put `-*- C++14 -*-` in my source files, breaking other editors.

[2015-11-05 06:20] snaix opened #100 "Can't high-light code correctly when define a macro."
OS:Windows 10 64bit
Atom: 1.1.0
color style: default

I found atom can't high-light correctly in C code.
When a macro define with another macro, like this:

[code]

The keyword "struct" is expected with colored, but the result is white without any color.
But the next keyword will be right. As follows:
![image](https://cloud.githubusercontent.com/assets/6660768/10961303/4e741950-83c8-11e5-8825-e74c

[2015-11-05 15:23] aisk commented on #2
👍

[2015-11-06 07:19] jaredmpayne opened #101 "class/struct constructor initializer lists have inconsistent member highlighting when a newline begins"
Using Atom 1.1.0 on OS X 10.11.

Screenshot:
<img width="445" alt="screen shot 2015-11-06 at 2 11 53 am" src="https://cloud.githubusercontent.com/assets/7102870/10991542/296efaf8-842c-11e5-9820-37c57f47580d.png">

As seen in the screenshot, most members in the list are white (variable color), but the first member at the beginning of a newline is incorrectly highlighted blue (function color). This

[2015-11-21 23:39] #45 closed

[2015-11-21 23:39] #83 closed

[2015-11-24 00:13] simurai opened #103 "Punctuation improvments"
Originally reported in https://github.com/simurai/duotone-dark-syntax/issues/8. Punctuations aren't supported that well.

For example if you try to highlight any general `.punctuation` with

[code]

in this example:

[code]

most parentheses and semicolons aren't styled (red) and just "plain text".

![screen shot 2015-11-24 at 9 07 44 am](https://cloud.githubusercontent.com/assets/378023/11353989/

[2015-11-24 03:17] 50Wliu commented on #103
This seems more like a bug than an enhancement since only half the things are being tokenized.

[2015-11-30 14:52] zhanglongqi opened #105 "highlight of .h file"
The highlight of `#ifdef` and `#endif` at line 9 and line 21
![snip20151129_9](https://cloud.githubusercontent.com/assets/956693/11456466/d7c11ff0-96c4-11e5-9a32-be999cccc301.png)
![snip20151129_10](https://cloud.githubusercontent.com/assets/956693/11456476/17df6baa-96c5-11e5-8d8c-8102eac1bdb5.png)

[code]

[2015-11-30 15:14] MaximSokolov commented on #105
It's duplicate of #92

[2015-11-30 15:28] 50Wliu commented on #105
Thanks @MaximSokolov!

[2015-11-30 15:28] #105 closed

[2015-12-02 15:06] #92 closed

[2015-12-03 19:24] kayasoze commented on #2
:+1:

[2015-12-25 14:35] MaximSokolov commented on #97
Don't think it's related to language-c package

[2016-01-06 10:57] artagnon opened #109 "Paren-matching goes into strings"
The '{' and '}' characters are matched with characters within a string-quote or character-quote.

<img width="250" alt="screen shot 2016-01-06 at 4 24 08 pm" src="https://cloud.githubusercontent.com/assets/37226/12141030/3fc569c2-b492-11e5-8515-0c0af0d07cb8.png">

[2016-01-06 13:58] 50Wliu commented on #109
This is a duplicate of atom/bracket-matcher#78 - please subscribe there for updates.

[2016-01-06 13:58] #109 closed

[2016-01-13 05:18] AriaFallah commented on #2
:+1:

[2016-01-14 20:38] ear commented on #45
I hope this is right but let me ask: should this have prevented the error in highlighting in these cases I have today? Here are some screenshots:

![screen shot 2016-01-14 at 21 35 04](https://cloud.githubusercontent.com/assets/2104122/12336852/f31f3bae-bb06-11e5-8cc3-b2b5722bbcd1.png)
![screen shot 2016-01-14 at 21 35 26](https://cloud.githubusercontent.com/assets/2104122/12336853/f57949ee-bb06-1

[2016-01-14 21:00] 50Wliu commented on #45
@ear Your syntax theme might not support C that well.  Can you please click right before `size_t` and execute the `Editor: Log Cursor Scope` command?  Thanks!

[2016-01-14 21:02] ear commented on #45
Sure thing! Here it is:
[code]

[2016-01-14 21:27] 50Wliu commented on #45
Ok, that means that language-c is picking them up correctly.  You might want to file an issue with Atom Gooey asking them to highlight `support.type.sys-types`.

[2016-01-20 11:28] proowl opened #111 "Invalid macro highlighting"
Example:

[code]

But when LOG2 takes no arguments, it's ok (the same effect if remove #) :

[code]

[2016-01-21 03:24] FrozenHelium opened #112 "C++ support missing for .h file"
syntax highlighting is missing for C++ specific keywords (eg: class)

[2016-01-21 12:28] 50Wliu commented on #112
This is a duplicate of #85 and #89; please subscribe there for updates.

[2016-01-21 12:28] #112 closed

[2016-01-21 16:25] jplatte commented on #99
Thanks for the tip, language-cpp14 fixes user-defined literal highlighting. You can disable the default language-c package, then you don't need `-*- C++14 -*-`. It removes C highlighting though.

[2016-01-25 19:51] normanuber commented on #60
Any updates on this?

[2016-02-04 01:19] 50Wliu opened #113 "Fix unnecessary nesting of `meta.block.c`"
This is pretty ridiculous.  For example, try logging the scopes of [this line](https://github.com/torvalds/linux/blob/b37a05c083c85c2657dca9bbe1f5d79dccf756d5/kernel/exit.c#L345).  I get:
- source.c
  - meta.function.c
    - meta.block.c
      - meta.block.c
        - meta.block.c
          - keyword.control.c

And this is the list of scopes in a file I'm currently working with that's heavily base

[2016-02-04 09:10] MaximSokolov opened #114 "Operators are not being tokenized"
They might be not tagged because operators can be overloaded. Not sure about that.
See [language-javascript#L966](https://github.com/atom/language-javascript/blob/9cf9a3970369b247878e98897ce1549b94769f38/grammars/javascript.cson#L966), [javascript-spec.coffee#L252](https://github.com/atom/language-javascript/blob/82fffc468f995feec44f1b1581e6ba8ac95fb642/spec/javascript-spec.coffee#L252) as an exam

[2016-02-07 22:51] Supernerd11 opened #115 "#if 1 or #if 0 is plain text instead of comment"
what i want is
[code]
where it comments out the unused part, but it just puts  both `#if 1` and `#if 0` as plain text.

[2016-02-08 15:31] neomonkey opened #116 "Soft spaces doesn't work"
The soft space settings doesn't work. I want to use 8 spaces as my indentation and the package doesn't allow this. With my settings below the indentation is random from 3-7.
[code]

[2016-02-08 16:58] MaximSokolov commented on #115
This was fixed by #91. Atom stable v1.4.3 should contain fix

[2016-02-08 17:39] 50Wliu commented on #116
@neomonkey language-c does not control indentation.  Can you still reproduce your bug in safe mode (`atom --safe`)?

[2016-02-08 20:49] 50Wliu commented on #115
Thanks @MaximSokolov.

[2016-02-08 20:49] #115 closed

[2016-02-09 11:57] neomonkey commented on #116
I opened the atom with the safemode at ubuntu 15.10 running under virtualbox. Yes it is repoducing at the safemode. Also I have an example how this works.

After:
#include line 8 spaces
function() line 7 spaces
function(){ line 6 spaces
while(){ line 2 spaces
pressing enter, no soft tabs...

And I just noticed that this seems to be a global problem. Even Javascript doesn't work, so if the package

[2016-02-09 16:42] 50Wliu commented on #116
I see you've commented over at atom/atom#10169, so I'll close this like you suggested :).

[2016-02-09 16:42] #116 closed

[2016-02-18 12:20] abyss7 opened #117 "Handle C++11 raw strings properly"
See http://en.cppreference.com/w/cpp/language/string_literal (6)

If there is `"` inside such string, then the colorifier doesn't work properly.

[2016-02-24 16:58] Zooce opened #118 "Function/method name syntax coloring broken when open paren not on same line"
Seen on Windows 7 and OS X 10.11, using Atom 1.5.3 and Atom 1.6.0-beta5.

You can see in the following screenshot that this issue occurs specifically when the first open paren is on a different line than the method/function name.

![capture](https://cloud.githubusercontent.com/assets/5490155/13293303/5e0efdb0-dadc-11e5-96f8-7f4958a8ca75.png)

[2016-02-29 14:47] omegahm opened #119 "Difference between using `||` and `or`"
In this example:

[code]

When using `||` both functions will be `support.function.any-method.c`, however when using `or` the second function gets `variable.other.c` scope instead.

![screen shot 2016-02-29 at 15 43 20](https://cloud.githubusercontent.com/assets/178448/13397760/a1c56aee-defb-11e5-9cee-4388e5b74d76.png)
![screen shot 2016-02-29 at 15 43 29](https://cloud.githubusercontent.com/asset

[2016-02-29 16:03] thomasjo commented on #119
This is because `or` is not a valid C keyword, and the introduction of a variable in this expression is not valid. Hence the grammar doesn't handle this either.

[2016-02-29 17:35] omegahm commented on #119
But this is C++ and C++ is selected as language. `or` is valid C++.

[2016-02-29 17:40] thomasjo commented on #119
OK, then I agree that this seems like a bug in the grammar.

---
*For future reference, it would be helpful with more details such as the fact you were working with C++ and not C. Especially since the scope you provided alluded to this being C code.*

[2016-03-02 17:18] sservulo opened #121 "C++ variables highlighted as reserved words"
Hi, everyone

I'm running Atom 1.4.0 (language-c package version 0.51.1) on a Fedora 23 install and noticed this today:

If I create any variable name with the regex [fgms][A-Z][a-zA-Z0-9]* is highlighted as a reserved word. Example:
![captura de tela de 2016-03-02 14-11-40](https://cloud.githubusercontent.com/assets/5921248/13468503/9d1158d2-e081-11e5-8b48-014c3fefa0a8.png)

[2016-03-02 17:22] green1139 opened #122 "How to use this for syntax?"
How do we use this for syntax themes?

[2016-03-02 17:58] MaximSokolov commented on #121
Rule: [c.cson#L38-L41](https://github.com/atom/language-c/blob/53694a3e4713680a5e3e86e2527994d245de9c2a/grammars/c.cson#L38-L41)
It has `variable.other` scope which is used for regular variables.
Refs: atom/one-dark-syntax#54, #98, [naming conventions](http://manual.macromates.com/en/language_grammars#naming_conventions)

[2016-03-02 18:13] sidpagariya opened #123 "Operators like + , -, *, /, %, ^, |, &, ||, && Highlighting?"
Is there any option to highlight operators like + , -, *, /, %, ^, |, &, ||, && in C++?

[2016-03-02 18:13] #122 closed

[2016-03-02 18:22] Victorystick commented on #123
@green1139 What syntax theme are you using? The default `one-dark` theme doesn't highlight. Have you tried another theme?

[2016-03-02 18:23] MaximSokolov commented on #123
No. See #114

[2016-03-02 18:23] green1139 commented on #123
@Victorystick I am making my own theme and so I wanted to know which code fragments I can use...

[2016-03-02 18:24] Victorystick commented on #123
Oops. Looks like I spoke too soon.

[2016-03-02 18:25] green1139 commented on #123
#114 suggests that we can copy...is it ok to do so?
I want to highlight ALL possible operators and I think this might be possible...

[2016-03-02 18:36] MaximSokolov commented on #123
_Some_ of the operators can be copied. I clarified my original comment in #114

[2016-03-05 05:24] chfritz commented on #28
I'm working on this. Unfortunately it is quite hard to get my pull request accepted because of some disagreements on which is the lesser evil in a case where not all requirements can be met.

For now what I have done is to go with a monkey-patching approach, i.e., you can adopt (and thereby vote) for my new logic by installing this package:
https://atom.io/packages/sane-indentation

It produces:

[2016-03-11 20:46] janosimas commented on #2
:+1:

[2016-03-17 02:59] 50Wliu opened #124 "Method calls are not closed correctly"
The `meta.function-call.c` rule contains a `match` which only matches up to the beginning parentheses.  Everything else thereafter is not tokenized as a function call.

[code]

As far as I can tell this has been a problem since the initial conversion to CSON.

/cc @MaximSokolov I'm sure you'd like to work on this :smile:.

[2016-03-17 07:14] skywind3000 opened #125 "syntax highlight error when language-c treat a C++ .h file as a C .h file"
most header file of C++ has the '.h' suffix, which is treated as a C header file. As a consequence of this, many C++ keywords (class, public, private, template) in the .h file get a wrong highlight.

In a ordinary .cpp file, everything in color is alright:
<img width="222" alt="48f9d1bb-57d3-4d60-a602-bbc2c8d315be" src="https://cloud.githubusercontent.com/assets/3035071/13838825/e70dedac-ec51-11e5

[2016-03-17 07:23] skywind3000 commented on #125
I can't write code any more with this wrong syntax highlight, does some one can figure me out how to fixed is locally by myself ??

[2016-03-17 07:28] skywind3000 commented on #125
can I config C or C++ file extension name ?

[2016-03-20 04:37] cormac-obrien opened #126 "Add div_t to the list of recognized standard library types"
`div_t` is the return type of the standard library function `div` and should probably be highlighted as a built-in type.

[2016-03-22 17:01] KSXGitHub opened #127 "Missing some C++ 11, C++ 14 supports"
* Keyword [decltype](http://en.cppreference.com/w/cpp/language/decltype)

 * New literal syntaxes
  - LPWSTR: `L"abcdef"`
  - Binary literals: `0b10010110`
  - Digit Seperator: `1'234'567`, `0.12'34'56f`, `1'23'4'5`, `0b1001'1101`, `0xAB'CD`
  - [User-defined literals](http://en.cppreference.com/w/cpp/language/user_literal)

[2016-03-23 03:44] felix91gr commented on #2
:+1:

[2016-03-24 04:08] cormac-obrien opened #129 "Return types of function pointer declarations in structs, unions highlighted as function calls"
The type name preceding a function pointer is highlighted like the name of a function being called. This does not occur if the function pointer is of pointer type (e.g. `int *(*foo)()`).

![atom-struct-funcpointer](https://cloud.githubusercontent.com/assets/5809282/14008163/b7b3ad4a-f14b-11e5-85ea-1629dcc1005e.png)

[2016-03-25 03:16] dragonxlwang opened #130 ""->" highlighting"
currently for ``a->b``, neither ``->`` nor ``b'' is highlighted (treated as plain text). It would be better to have recognized as syntax keyword/pointer members by language-c.

[2016-04-02 01:37] jamesqo commented on #78
Fixed by #131

[2016-04-04 21:31] oulrich1 commented on #125
This problem was mentioned [here](https://github.com/atom/atom/issues/4156).

One of the workarounds mentioned that I am using is from [here](https://github.com/atom/flight-manual.atom.io/blob/6e8baeecaf939426e66ee960c168cf27117215ef/book/02-using-atom/sections/06-customizing.asc#customizing-language-recognition). At the very bottom: "Customizing Language Recognition"

The workaround is to correct

[2016-04-05 05:44] thomasjo commented on #125
Duplicate of #89. Can also be resolved using the `customFileTypes` feature, as described by @oulrich1

[2016-04-05 05:44] #125 closed

[2016-04-23 11:52] neil2hw opened #135 "How can I close or change the default snippets?"
I want to modify or delete some snippets. What can I do?

[2016-04-23 15:47] 50Wliu commented on #135
That is currently not supported.  Please see atom/snippets#55 for the feature request.

In addition, questions like these are better suited on https://discuss.atom.io.

[2016-04-23 15:47] #135 closed

[2016-04-28 19:18] yufanyufan opened #136 "Auto Indent for multi-line function call"
Current result:
`void main () {
  function(a,
    b,
    c)
  }
`
Expected result
`void main () {
  function(a,
           b,
           c);
}
`

[2016-04-30 04:26] yufanyufan commented on #136
This seems related to https://github.com/atom/atom/pull/10384

[2016-05-09 14:59] ivmarkp opened #140 "void main() function auto-complete problem."
I encountered this issue in C++ environment.
Auto-complete for `void main()` doesn't work like I expect it to be. Here's some snippets to help understand it better:

![void](https://cloud.githubusercontent.com/assets/17006136/15117511/79d332d0-1625-11e6-97b3-5aef7a5b6ca9.PNG)

Auto-complete suggests `main()` and when you press enter it inserts
 `int main(int argc, char const *argv[]) { /* code */

[2016-05-09 21:29] 50Wliu commented on #140
The `main` autocompletion you're seeing is a snippet, which by default expands to what you see in the second image.  If you believe the `int` part should be configurable, then please open a new issue.  Thanks!

[2016-05-09 21:29] #140 closed

[2016-05-10 14:19] ivmarkp commented on #140
Wouldn't it be more convenient to _not_ have `int`at all,  when `main` expands? In this case, I'd have to delete `int` because I wanted to use `void main()`.

[2016-05-10 21:58] #130 closed

[2016-05-19 07:07] altishchenko opened #144 "Arduino files support"
Will it be possible to add .ino to the list of C++ file name extensions?

[2016-05-23 22:19] akshaybabloo opened #146 "Markdown syntax colour issue while using /* .. */"
### Description

I don't know if this is happening to everyone but when I write `/* .. */` in a code block, everything after that turns to pink (See the screenshot).

![screen shot 2016-05-23 at 3 48 34 pm](https://cloud.githubusercontent.com/assets/7360286/15486344/02e677e8-2199-11e6-802a-ba8832ebe4a5.png)

### Steps to Reproduce

1. Follow the content in the screenshot.

**Expected behavior:** N

[2016-05-24 11:38] 50Wliu commented on #144
Added in #145.

[2016-05-24 11:38] #144 closed

[2016-05-29 16:20] BigfootN opened #148 "C++11 Support"
Hello,

I am using monokai as syntax theme, and some keywords (such as nullptr) are not highlighted.

I know there are already several issues about this, but if, for example, #61 has been reopened ever since.

Thank you very much in advance :)

[2016-05-30 00:53] 50Wliu commented on #148
As #61 mentioned, the lack of highlighting does not have to do with language-c but rather Monokai.  Please open a new issue on the Monokai repository.  Thanks!

[2016-05-30 00:53] #148 closed

[2016-05-30 07:29] BigfootN commented on #148
Okay thank you, sorry for not reading more thoroughly, and thank you for your quick response :)

[2016-05-31 18:19] AndrewSerie opened #150 "Printf Snippet Enhancement"
Printf Snippet Enhancement

**Steps**
1. Enter file "language-c/snippets/language-c.cson"
2. Find the "printf" snippet. Lines 56 - 58.
3. On line 58, Remove the ,(space) at the end of the snippet.
     - 58: 'body': 'printf("${1:%s}\\\\n", $2);$3'
     +58: 'body': 'printf("${1:%s}\\\\n"$2);$3'

**Current and suggested behavior**
Currently, I see that my compiler throws the error below:
/Users/and

[2016-05-31 18:21] AndrewSerie commented on #150
My apologies if this is not an issue or enhancement.  I am new to C.

[2016-06-02 07:01] esdoppio commented on #150
@50Wliu Not sure about this, if you don't need interpolations or formatting, then you shouldn't use `printf` in the first place.

[2016-06-10 11:18] vladimir-didenko opened #151 "sizeof() operator is not highlighted"
sizeof() operator is not highlighted anymore

Test sample

[code]

[2016-06-17 15:19] fbbdev commented on #99
Any progress on this?

[2016-06-22 00:35] galactose310 commented on #123
So concretely, I don't understand what is possible to do ? Idem for brackets and parenthesis, which are coloured as default text.

[2016-06-23 21:31] sridmad opened #152 "if define MACRO, c++ Syntax colorization and highlighting is error"
_From @sandy081 on June 16, 2016 8:24_

_From @shudingbo on June 15, 2016 10:50_
- VSCode Version: 1.2.1,maybe all version
- OS Version:  win,linux

Steps to Reproduce:
1.  no define macro, highlighting OK.

[code]
1. if define macro, **following, highlighting colorization all is macro's color**

[code]

_Copied from original issue: Microsoft/vscode#7714_

_Copied from original issue: Microsoft/vs

[2016-06-23 21:31] sridmad commented on #152
_From @smile4u on June 18, 2016 21:30_

I also discovered this problem. There is small workaround - if you add semicolon at the end of the last (or each) macro highlighting will be recovered

[2016-06-23 21:31] sridmad commented on #152
Looks like a Textmate bundle issue. I see the exact issue in atom.

[2016-07-23 01:36] alekulyn commented on #82
Same thing with declaring normal function pointers:
[code]

[2016-07-29 07:57] infininight commented on #117
This has been added in the TextMate bundle if someone wants to port over the commit:

https://github.com/textmate/c.tmbundle/commit/022ffeb698bcb30ae89c459a4f11487ea4f5ecb8

[2016-07-30 15:42] 50Wliu commented on #117
Thanks @infininight!

[2016-08-04 05:28] GrandC opened #153 "hexadecimal floating point numbers"
floating point numbers can be written in hex like
0x7.Ap3
read as (hex)1.2 \* 2^3
but it is not recognized as a number in atom such as 0xE5, 10000, 1.5f which are all written in orange

[2016-08-09 09:44] aeschli opened #154 "C++14 digit separators are not recognized"
_From @BillyONeal on July 10, 2016 5:18_
- VSCode Version: 1.3.0
- OS Version: Windows 10 10586

![Broken digit separators demonstration](https://cloud.githubusercontent.com/assets/1544943/16711798/101ddb64-4623-11e6-91e1-74c6bf5d0bc3.png)

_Copied from original issue: Microsoft/vscode#9018_

[2016-08-09 09:44] aeschli commented on #154
_From @BillyONeal on July 10, 2016 5:21_

Note: Does not matter whether or not the C++ extension is installed.

[2016-08-09 10:10] aeschli opened #155 "C grammar pushes states and does not pop them for sqlite3.c"
Run the c grammar on the following code snippet:

[code]

at the end of processing these lines, the text mate engine has still 3 scopes on the stack, but should have none.
      \* [172,1] BeginEndRule "meta.parens.c", entered @-1
      \* [168,2] BeginEndRule "meta.function.c", entered @-1
      \* [1,3] IncludeOnlyRule "source.c", entered @-1

Multiple declarations like this as in [sqlite.c](htt

[2016-08-15 09:46] jhasse opened #157 "and, or, ... keywords not highlighted"
For readability it would great, if the keywords and, or, etc. are highlighted. See GitHub's highlighting as an example:

[code]
(notice how ||, && aren't red here)

[2016-08-15 14:26] 50Wliu commented on #157
`and` and `or` are properly highlighted using the C++ grammar (and those aren't valid in C).
See #123 for the && || variant.

[2016-08-15 14:26] #157 closed

[2016-08-15 14:33] jhasse commented on #157
They aren't highlighted for me with Atom 1.9.8:
![bildschirmfoto vom 2016-08-15 16-33-10](https://cloud.githubusercontent.com/assets/80071/17667638/fb5ad754-6305-11e6-9838-b1cf4e85279e.png)

[2016-08-15 14:35] 50Wliu commented on #157
That's an issue with your syntax theme (One Dark in this case).  For example, I'm using Fizzy and they're highlighted.

![fizzy](https://cloud.githubusercontent.com/assets/2766036/17667691/f162ef34-62d3-11e6-91b3-cec3f341f10f.png)

[2016-08-15 14:36] jhasse commented on #157
Ah didn't know that, thanks :)

[2016-08-18 21:45] akshaybabloo commented on #146
This is not yet rectified in version `1.8`.

[2016-08-23 02:02] #117 closed

[2016-08-25 12:26] slypiggies opened #159 "Wrong C++ highlighting"
![3b030594-6adf-11e6-940d-66d3410d5056](https://cloud.githubusercontent.com/assets/21236048/17968907/006fac02-6b02-11e6-90c5-a8b7e0b2517d.png)

(I reported this bug on a wrong repo previously, hope this is correct now.)

[2016-09-01 10:00] aeschli opened #160 "Highlighing issue with multi line define."
- Open https://cs.chromium.org/chromium/src/v8/src/objects.h
- highlighting get confided with

[code]

[2016-09-01 10:07] aeschli commented on #160
Same issue with:
[code]

[2016-09-03 07:17] AppIns commented on #2
:+1:

[2016-09-04 13:50] handicraftsman opened #161 "No Endif Directive"
There's no syntax highlight for #endif directive. Tested in C++.

[2016-09-04 19:19] 50Wliu commented on #161
Cannot reproduce using 1.12.0-dev-4a73709.  Please supply a snippet here that reproduces the issue.

For reference, I tried
[code]

[2016-09-04 19:41] handicraftsman commented on #161
[code]
Lel. Here it doesn't highlighting too...

[2016-09-13 00:45] hgdsraj commented on #161
your class must end with a semicolon, i.e.:

`#ifndef _TEST_
  #define _TEST_

class test {
public:
  int just_for_test;
};

#endif`

[2016-09-13 00:48] hgdsraj commented on #161
Note the semicolon on `line 7`

[2016-09-14 07:49] thomasjo commented on #161
Closing as `wontfix` since this is caused by invalid C++ syntax. The compiler in question might not complain (enough), but class (and struct) declarations must end with a semicolon.

[2016-09-14 07:49] #161 closed

[2016-09-14 12:48] linquize commented on #151
same in atom 1.10

[2016-09-14 13:20] thomasjo commented on #151
The `sizeof` keyword is given the scope `keyword.operator.sizeof.c`, so this is entirely related to syntax themes not giving it a (distinguishable) color. In the case of the default syntax themes One Light and One Dark, `sizeof` is given the color `@mono-1` which is the same as "default text".

In summary, in order to get this resolved, you'll need to open issues on the relevant syntax themes.

/c

[2016-09-14 13:20] #151 closed

[2016-09-15 06:37] simurai commented on #151
@vladimir-didenko What theme are you using?

Made PRs to highlight operators in C for the One themes. Should be in Atom `1.12`.

[2016-09-18 20:09] #150 closed

[2016-09-19 20:55] 50Wliu commented on #89
All headers are now identified as C++ rather than C, which should give better highlighting in most cases.

[2016-09-19 20:55] #89 closed

[2016-09-20 10:57] vladimir-didenko commented on #151
@simurai

One Dark.

Great. Thanks!

[2016-09-23 13:39] 0xfeeddeadbeef commented on #152
Here's minimal repro:

[code]

In Atom, only `void foo(void)` is colored incorrectly.
In VSCode, entire function body gets "discolored".

In addition to incorrect colorization, this macro crashes VSCode C/Cpp Language Server every time it attempts to parse this snippet.

[2016-09-25 00:40] benwaffle opened #166 "Closing quote not overridden for \n"
when you type 'a', hitting ' at the end will overwrite the one inserted automatically, but not with '\n'

[2016-09-25 00:44] 50Wliu commented on #166
Please reopen this on the atom/bracket-matcher repo.

[2016-09-25 00:44] #166 closed

[2016-10-02 14:41] #85 closed

[2016-10-10 18:41] #114 closed

[2016-10-10 18:41] #123 closed

[2016-10-15 16:16] wingyplus commented on #127
I see LPWSTR currently implemented in Atom 1.11.1 but I see any test to verify it, so I can make a pull request to make sure this feature was implemented correctly.

[2016-10-15 16:25] wingyplus opened #169 "public keyword not highlighting when use defined after virtual keyword"
Expect:

`public` keyword should be highlight after defined `virtual` keyword.

Actual:

<img width="339" alt="screen shot 2559-10-15 at 11 23 01 pm" src="https://cloud.githubusercontent.com/assets/484530/19411564/781bdc5e-932e-11e6-911d-0c6877216c4c.png">

[2016-10-15 16:30] wingyplus opened #170 "virtual keyword highlight as a type name when defined after public keyword"
Expect:

`A` should be highlight as `entity.name.type.inherited.cpp` (orange color) and `virtual` should be highlight as `storage.type.modifier.cpp` (purple color)

Actual:

<img width="336" alt="screen shot 2559-10-15 at 11 29 50 pm" src="https://cloud.githubusercontent.com/assets/484530/19411610/4ce39ce2-932f-11e6-8f4b-f8a23507853f.png">

[2016-10-16 05:03] wingyplus opened #171 "Question: joining hacktoberfest"
I want to ask about can this repo join the [hacktoberfest](https://hacktoberfest.digitalocean.com/)?  The benefit is make more contributors help fix the bug issues in this language.

[2016-10-16 14:55] 50Wliu commented on #171
The Hacktoberfest website says that "You can contribute to any project on GitHub".  Therefore submitting a PR to this repo will count towards your total Hacktoberfest total.

[2016-10-16 14:55] #171 closed

[2016-10-17 15:49] aeschli opened #173 "C syntax highlighter uses wrong colors after some macro definitions."
_From @danielkasza on September 30, 2016 15:36_
- VSCode Version: 1.5.3
- OS Version: Ubuntu Gnome 16.04

Steps to Reproduce:
1. Create a new C file.
2. Copy&paste this code:

[code]
1. Observe that the second and third comments have the wrong color applied to them.

![vscodecolor](https://cloud.githubusercontent.com/assets/11418469/18997300/c6ce81b4-8701-11e6-80a2-082f91ef5492.PNG)

_Copied from

[2016-10-24 15:38] Kornhe opened #174 "Wrong identation with curly brackets in nested loops"
### Prerequisites
- [x] Can you reproduce the problem in [safe mode](http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode)?
- [x] Are you running the [latest version of Atom](http://flight-manual.atom.io/hacking-atom/sections/debugging/#update-to-the-latest-version)?
- [x] Did you check the [debugging guide](http://flight-manual.atom.io/hacking-atom/sections/debugging/)?
-

[2016-10-31 13:54] aeschli opened #175 "Backslash at end of comment messes up syntax highlight"
_From @csholmq on October 12, 2016 7:11_

If a single line comment is ended with a backslash (last non-whitespace character) it is mysteriously syntax highlighted.

A multiline comment that directly follows is also affected.

![comment_backslash](https://cloud.githubusercontent.com/assets/1297882/19300655/b94a7580-905b-11e6-8b9e-758ab4abd4ab.gif)

_Copied from original issue: Microsoft/vscode#1356

[2016-10-31 13:54] aeschli commented on #175
@csholmq For what language is that?

[2016-10-31 13:54] aeschli commented on #175
_From @csholmq on October 12, 2016 9:31_

@aeschli Sorry, forgot to mention. It's C.

[2016-10-31 13:54] aeschli commented on #175
What you see is intended:
A backslash at the end of the line removes following the new line character (merges the two lines).
So '/*' is now also part of the first line and part of the single line comment.
See
http://lessonsincoding.blogspot.ch/2012/03/backslash-line-splicing-in-c-c.html

[2016-10-31 13:54] aeschli commented on #175
_From @csholmq on October 28, 2016 18:48_

@aeschli Yes, quite right :) But shouldn't a whitespace following the backslash effectively "protect" the newline character?

[2016-10-31 13:54] aeschli commented on #175
Oh, now I see. Sorry.

[2016-11-26 18:49] boazsegev commented on #112
This solution might provide better highlighting, but it's throwing off `lint`, which means that a lot of errors are (wrongfully) reported due to `.h` files that are actually C (not C++)...

Since some of us use C rather than C++, please consider some heuristic recognition.

Perhaps (lacking a better solution) consider allowing for a magic comment at the end of the file?

[2016-11-26 23:04] 50Wliu commented on #112
Adding a C Emacs modeline should cause Atom to switch to C.

Better heuristics are planned but are still a long way off.

[2016-11-26 23:08] boazsegev commented on #112
Thanks for the info and the update.

[2016-11-26 23:49] dixx commented on #80
@50Wliu It seems to me that the ternary operator is not checked correctly in all cases (language-c), so that method calls on pointers within `?` and `:` cause trouble.
This will work fine: `x = a ? b : c;`, while this `x = a ? b->f() : c;` will mess up the highlighting of the code behind it to a certain degree. This `x = a ? b->f( d->f() ) : c;` will mess it up even further. I hope that helps to c

[2016-11-28 17:31] drewcassidy opened #177 "-> operator doesnt tokenize correctly for ligatures"
The `->` operator does not tokenize correctly when using a font with code ligatures like Fira Code. Instead it is tokenized as a `-` and a `>`.

<img width="363" alt="screen shot 2016-11-28 at 9 28 51 am" src="https://cloud.githubusercontent.com/assets/3837797/20678831/1792fa0c-b54d-11e6-8e06-42e9f635aaa1.png">

it should be part of a single span, so the ligatures work like so:
<img width="362" al

[2016-11-28 22:58] thomasjo commented on #177
For reference this has nothing to do with ligatures, that's just a side effect. The real bug here is that the dereference operator is not being matched properly (which is evident from the description above).

[2016-11-30 00:19] dmedinag opened #178 "Ternary operator in cout: no member highlighting"
When implementing a ternary operator printing with cout, this happens:

![image](https://cloud.githubusercontent.com/assets/7140086/20734597/8c3f7b66-b668-11e6-9b90-a6076cbd973b.png)

[2016-12-02 07:26] aeschli opened #180 "[c++] noexcept and override don't get correctly highlighted"
_From @jrlanglois on December 1, 2016 0:27_

- VSCode Version: 1.7.2
- OS Version: 10.11.6 (El Capitan)

### Example:
![screen shot 2016-11-30 at 19 25 43](https://cloud.githubusercontent.com/assets/1908886/20777111/de05fb30-b732-11e6-8a5f-ac670c9cb604.png)

### Code:
[code]
Funnily enough, GitHub's C++ synthax highlighter has the opposite result!

_Copied from original issue: Microsoft/vscode#163

[2016-12-02 19:36] dixx commented on #80
And this issue seems to be related to #178.

[2016-12-05 08:31] WillerZ opened #184 "The snippets are annoying me a lot"
I fervently wish for a way to turn off the snippets for `once `, `cerr`, `cout`, `cin`, `enum`, `func`, `map`, `str` and `vector`. I have basically never wanted to write what they expand to and I often find them expanding as I write normal code and I press enter when they happen to appear on the end of a line. The expansion of `once` is the most frequently annoying; when I write:
[code]
changing t

[2016-12-05 09:17] Ben3eeE commented on #184
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/atom/snippets/issues/55. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for th

[2016-12-05 09:17] #184 closed

[2016-12-05 10:27] aeschli opened #185 "C code coloring goes wrong after a line break backslash"
_From @DanielKristofKiss on December 4, 2016 10:56_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:06:37.428Z)
- OS Version: Windows_NT ia32 6.1.7601
---

Steps to Reproduce:
C source file content
[code]
![image](https://cloud.githubusercontent.com/assets/4526629/20865652/15599960-ba18-11e6-98b9-a27457ac68f9.png)

_Copied from original issue: Microsoft/vscod

[2016-12-05 10:29] aeschli commented on #185
In Atom:
![image](https://cloud.githubusercontent.com/assets/6461412/20881712/f08e8188-badd-11e6-9189-52a89ae752f0.png)

Problem is caused by the scope 'meta.preprocessor.macro.c' that sticks around until line 10.

[2016-12-07 08:24] aeschli opened #186 "C/C++ class and macro highlighting"
_From @sillydan1 on December 6, 2016 23:19_

- VSCode Version: 1.7.2
- OS Version: Debian 8.6 Jessie
In C/C++ highlighting assigns classes various different CSS tokens. It would give a much better overview of the code if classes was highlighted correctly.
Example:
[code]
the MyClass words get inconsistently highlighted.
Macros, when used like this, have inconsistent highlighting:
[code]
I believe

[2016-12-07 08:24] aeschli commented on #186
Please always file separate issue for each problem.

The macro issue is likely a duplicate of https://github.com/atom/language-c/issues/173.

The class issue looks like a bug in the grammar. 'MyClass mc ' is parsed in a single token

[2016-12-07 19:58] #175 closed

[2016-12-11 09:38] NanerLee opened #187 "Provide a option to disable snippets in this packages"
Although I can override these snippets in this packages though writing the user's snippets.cson, the style of default prefixs is not my flavor.

[2016-12-11 16:48] 50Wliu commented on #187
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/atom/snippets/issues/55. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for th

[2016-12-11 16:48] #187 closed

[2016-12-16 12:45] alpyre opened #189 "Scope floods because of macros being matched as functions."
Through some examinations in the code, I’ve seen that the way functions are captured and tokenized in the current implementation makes kind'o sense but very problematic at the same time.

Basically it does it like this _(I’m simplifying unrelated details here)_:
- Assumes words followed by a **“(”** as functions and treats them differently according to their location in the code.
- If they are **o

[2016-12-17 19:41] alpyre commented on #118
This is **not** a bug about the grammar.

Atom's line parser _(just line TextMate's)_ does the regex matchings within single lines only.
Please refer to the last paragraph of topic **12.2 Language Rules** in TextMate Manual:
http://manual.macromates.com/en/language_grammars

Function name being in one line and the following open parenthesis being on the next is a _multi-line pattern_, which cannot

[2016-12-27 14:46] Foxhoundn commented on #60
Any news on this issue?

[2016-12-31 00:29] aeschli opened #192 "C Syntax Highlighting Bug"
Steps to Reproduce:

1. Use ternary operator in C
2. Put function in the "then" part
3. Syntax highlighting is wrong for that function (appears as a var)

_Copied from original issue: Microsoft/vscode#17942_

[2016-12-31 00:29] aeschli commented on #192
_From @rebornix on December 30, 2016 18:52_

@brewsto can you try to disable c related extensions and then reload the window to see if it's caused by an extension?

[2016-12-31 00:29] aeschli commented on #192
_From @pietz on December 30, 2016 18:58_

(this is brewsto)

its not caused by any extenstions, i disabled them all and checked again. same result. functions are not highlighted within the "then" part of a ternary operator.

[2016-12-31 00:31] aeschli commented on #192
Reproduced with
[code]
Same issue in Atom. The then part doesn't seem to be tokenised correctly.

[2016-12-31 00:40] 50Wliu commented on #192
Was already fixed by #179.

[2016-12-31 00:40] #192 closed

[2016-12-31 02:15] aeschli commented on #192
Thanks a lot @50Wliu !

[2017-01-05 18:27] nani09 opened #193 "I am getting this issue in atom while runnig c file,'bash' is not recognized as an internal or external command, operable program or batch file"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-01-05 19:51] 50Wliu commented on #193
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grin

[2017-01-05 19:51] #193 closed

[2017-01-06 07:03] nani09 commented on #193
[Doc1.docx](https://github.com/atom/language-c/files/689132/Doc1.docx)

[2017-01-08 22:47] laitdebanane opened #194 "Whitespace after pointer access operator breaks tokenizing and ligatures"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-01-09 02:35] 50Wliu commented on #194
Looks a bit related to #177.

[2017-01-09 02:37] 50Wliu commented on #177
Code for easy copy/paste testing:
[code]

[2017-01-09 03:07] drewcassidy commented on #177
It looks like it happens with any dereferenced call to a function on an object, but not variables

[2017-01-10 03:32] aeschli opened #196 "C++ colorization is incorrect after a multi-line ? : expression."
_From @sean-mcmanus on January 9, 2017 19:28_

- VSCode Version: 1.8.1
- OS Version: Windows (I assume Linux/OSX too).

Steps to Reproduce:

1. Use this code in a .cpp file.
long A() {
    return true ?
        Sum() : 0;
}

class Bar {

};

Bug: "class Bar" is white instead of colored correctly. It's a bug with textmate, atom, or whatever other thing VS code users for colorization.

This report i

[2017-01-10 03:43] 50Wliu commented on #196
Cannot reproduce using latest language-c version, assuming fixed by #179.
![image](https://cloud.githubusercontent.com/assets/2766036/21793171/f82388d0-d6bc-11e6-9dbd-871830a48142.png)

[2017-01-10 03:43] #196 closed

[2017-01-10 17:40] laitdebanane commented on #194
Pull request #195 fixed this issue.

[2017-01-10 18:02] #194 closed

[2017-01-15 03:07] 50Wliu opened #197 "New scope name for preprocessors"
Not including prerequisites as they don't apply.

In #188, there was some discussion that `entity.name.function.preprocessor.c` was not correct.  Some alternatives that were proposed, as well as some that I'm proposing right now:
* `entity.name.macro.preprocessor.c`
* `entity.name.identifier.preprocessor.c`
* `entity.name.expression.preprocessor.c`
* `entity.name.preprocessor.c`
* `entity.name.mac

[2017-01-15 03:10] 50Wliu commented on #13
Cannot reproduce on Atom 1.15.0-dev-d5785a1.  The first set is foldable while the second isn't.  @sughodke please comment here if you can still reproduce this on the latest stable Atom version, currently Atom 1.13.0.

[2017-01-15 03:10] #13 closed

[2017-01-15 03:17] 50Wliu commented on #78
This actually has not been fixed.

[2017-01-15 03:19] 50Wliu commented on #80
This has been fixed, most likely by #179.

[2017-01-15 03:19] #80 closed

[2017-01-15 03:20] 50Wliu commented on #81
[code]

[2017-01-15 03:24] 50Wliu commented on #82
Seems to have been fixed.  I can't reproduce on Atom 1.15.0-dev-d5785a1 using the following code snippet:
[code]

[2017-01-15 03:24] #82 closed

[2017-01-15 03:26] 50Wliu commented on #97
Seems to have been fixed.  The snippet works correctly for me now.

[2017-01-15 03:26] #97 closed

[2017-01-15 20:27] thomasjo commented on #197
My votes are, in order of preference;
1. `entity.name.identifier.preprocessor.c`
1. `entity.name.expression.preprocessor.c`
1. `entity.name.preprocessor.c`

[2017-01-25 13:39] sean-mcmanus commented on #154
Can someone give a status update on a fix? People are blaming VS Code and the C++ extension when it's not our bug.

[2017-01-25 16:44] 50Wliu commented on #154
I'm the only Atom maintainer actively working on languages.  Given that there's around 25 core language packages, it's quite a lot of work.  I rely a lot on people sending PRs.  Regarding language-c, I know that @thomasjo has some plans to improve it, and so does @alpyre.  Onto your questions however:

I am not aware of any Atom maintainer working on this, nor has a PR been submitted.

While not n

[2017-01-25 17:35] NOhs opened #198 "Arrow in initializer list breaks syntax highlighting in C++"
### Description

I was sent here from the C++ extension issue tracker of vscode. I don't know if this is the right place to post this, but when using the `->` operator in an initializer list in vscode C++ (which uses atom), the syntax highlighting gets mixed up.
![cpp_broken_syntax_highlighting](https://cloud.githubusercontent.com/assets/20553080/22301078/f1faf4b0-e329-11e6-93da-6c16b2f5c09f.PNG)

[2017-01-25 18:01] 50Wliu commented on #198
[code]
Confirmed.

[2017-02-01 04:58] 50Wliu commented on #178
Fixed by #179.

[2017-02-01 04:58] #178 closed

[2017-02-02 16:19] DanielJamesCollier opened #199 ""final" keyword not highlighted in the context of functions"
Version: Version 1.8.1 (1.8.1)
OS: MacOS Sierra 10.12.2

The final keyword after scatter() should be highlighted.

<img width="439" alt="screen shot 2017-02-02 at 16 15 09" src="https://cloud.githubusercontent.com/assets/6226245/22557573/cde5e744-e962-11e6-9e0c-efd640b07c58.png">

[code]

possibly related
https://github.com/atom/language-c/issues/81

[2017-02-02 19:40] #154 closed

[2017-02-03 01:42] DanielJamesCollier opened #201 "Incorrect syntax highlighting of built-in types"
Version: 1.9.1
OS: macOS Sierra 10.12.2

please note that replacing "int" in this situation with any other built-in type will result in incorrect syntax highlighting.

<img width="188" alt="screen shot 2017-02-03 at 01 46 03" src="https://cloud.githubusercontent.com/assets/6226245/22576418/29ec1f54-e9b3-11e6-854e-6dc9c4a85d24.png">

<img width="197" alt="screen shot 2017-02-03 at 01 40 26" src="ht

[2017-02-04 17:37] shreyanshk opened #202 "Incorrect Syntax highlighting"
### Description

Incorrect syntax highlighting in C language in atom.

### Steps to Reproduce

1. Save a file with code given in additional information and extension ".c":

**Expected behavior:** at position 17:51 Atom should recognizes that string starts from this point and ends at 17:82

**Actual behavior:** Atom doesn't recognize that 17:51 marks the start of a string.

**Reproduces how often:*

[2017-02-05 13:03] DanielJamesCollier commented on #198
I am also having the same issue, happens with 1.9.1 and I am using "this->"
![c33c95287a62481c032a4081bbc6bb86](https://cloud.githubusercontent.com/assets/6226245/22626363/6a29e622-eba3-11e6-8ea5-98954baa727e.png)

[2017-02-05 16:26] 50Wliu commented on #198
If you're using VSCode, you don't need to bother with the VSCode version.  Chances are that if it's broken in VSCode, it's broken in Atom as well.

Can you file a separate issue for your second picture as it happens without `->`?

[2017-02-05 17:42] 50Wliu commented on #101
[code]
for easy copy/paste testing.

[2017-02-05 18:15] DanielJamesCollier commented on #198
@50Wliu yes, will file it now.

[2017-02-05 18:17] DanielJamesCollier opened #203 "Syntax Highlighting Issue: init lists"
Initialisation list syntax highlighting is not working as seen in the below image, please see  related issue.

Editor: VS Code
Version: 1.9.1

![c33c95287a62481c032a4081bbc6bb86](https://cloud.githubusercontent.com/assets/6226245/22628630/2ef4faac-ebcf-11e6-9f9a-9bb9245b364c.png)

the issue seems to be with the ordering of the commas: see below
![55cfaf47ad3b59cfc6609d92e0e1d8af](https://cloud.git

[2017-02-05 18:27] DanielJamesCollier commented on #203
also appears that github syntax highlighting is broken too!

[2017-02-05 20:17] 50Wliu commented on #129
[code]
for easy testing.

[2017-02-05 20:27] 50Wliu commented on #185
[code]

[2017-02-05 20:30] 50Wliu commented on #202
Thanks for reaching out!

We've determined that this issue is being caused by the use of an unofficial build or distribution of Atom. Often these customized versions of Atom are modified versions of the Stable branch of Atom with mismatched versions of built-in components. These updated components are taken from the Beta channel or `master` branch and then injected into the Stable version and a ne

[2017-02-05 20:30] #202 closed

[2017-02-06 02:48] boazsegev commented on #89
This update produces syntax error notification when the `.h` file is a C header.

For example, C does not define `char16_t` as an internal type, which means that a `types.h` file will need to define it (i.e. `typedef unsigned short char16_t`), which raises an error in C++ but is valid in C.

The issue is worst when using inline functions in C headers (which is important for some performance optimi

[2017-02-06 15:58] 50Wliu commented on #89
This package only provides syntax highlighting, so another community package is causing the syntax error notifications that you're experiencing.  You can define custom file types by following [this FAQ](https://discuss.atom.io/t/how-do-i-make-atom-recognize-a-file-with-extension-x-as-language-y/26539).

[2017-02-06 23:47] boazsegev commented on #89
@50Wliu ,

I am thankful for the package and for the Atom development environment.

However, I hope you could consider my point of view.

Please consider that this might not be a specific project that is affected, but rather a whole community convention that is questioned.

This syntax highlighting issue was resolved by changing the association of `*.h` files from C to C++, even though C++ specifi

[2017-02-06 23:51] 50Wliu commented on #89
The FAQ entry I linked you to is global, not project-specific.  Here is @thomasjo's comments on this: https://github.com/atom/language-c/pull/156#issuecomment-244662391

[2017-02-07 00:05] boazsegev commented on #89
Hi @50Wliu , thanks for the quick reply.

Three points to think about:

1. The historical merger and comments were all about syntax highlighting. At the time I read about the upcoming change and didn't think it might effect me. I didn't care if some keywords are mis-highlighted. In fact, I thought it would make compatibility (where needed) easier to maintain.

     However, time had proven me wron

[2017-02-07 01:59] 50Wliu commented on #89
Ok, can you please open a new issue?  While there's not much we can do about it short-term except to revert the PR, it'll still help to serve as a reminder when we have more capable tools to deal with this.

[2017-02-07 03:51] boazsegev opened #204 "Language recognition for `.h` should default to C, following most common convention"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-02-07 03:58] boazsegev commented on #89
Done. I opened issue #204 to both explain and remind.

By the way, although heuristic recognition might be nice to have, the highlighting issue could be simply resolved by being opinionated about the use of a C++ specific extension, such as `.hpp`... since `.h` headers are meant to be used by both languages, it's possible that supporting language specific features is counter productive (just a tho

[2017-02-09 01:37] #126 closed

[2017-02-12 09:42] alpyre commented on #204
As a C programmer, I 100% agree with @boazsegev. Thanks.

[2017-02-12 11:29] alpyre commented on #99
[code]

I could not reproduce this issue. It is probably fixed already and may be closed.

[2017-02-12 12:50] alpyre commented on #23
This is the same issue with #118 and it won't fix as I've explained in there.
You can _close_, _block_ or _label as "won't fix"_ this issue.
Best regards.

[2017-02-12 16:58] fbbdev commented on #99
@alpyre the issue regards syntax like this:
[code]

It doesn't happen with escaped quotes.

Anyway, I just tested this with atom v1.13.1 and it works correctly.

[2017-02-12 16:58] #99 closed

[2017-02-12 17:12] fbbdev commented on #127
Please consider fixing the digit separator. Highlighting errors are so bad they make code unreadable when it contains a separator.

[2017-02-12 19:59] #23 closed

[2017-02-12 20:00] 50Wliu commented on #118
Technically, this _is_ a bug (resulting in incorrect highlighting), but it's also a limitation of the regex engine, so there's nothing we can do about it.

[2017-02-12 20:01] 50Wliu commented on #127
@fbbdev Digit separator support should be included in Atom 1.15, currently in beta.

[2017-02-16 15:02] aeschli opened #207 "C++ custom class names not highlighted"
_From @Leedehai on February 12, 2017 5:45_

- VSCode Version: 1.9.1
- OS Version: macOS 10.12.3

Steps to Reproduce:

1. open a C++ file, type in:
[code]
2. The class name "A" will not be highlighted the same way other built-in types (like "int") are, in lines like "A operator+(A &a)" and "A a = A(1)". But in Visual Studio custom class names are highlighted.
3. Similar: #4948

_Copied from origina

[2017-02-16 15:02] aeschli commented on #207
The cpp grammar does not break up "A operator+(A &a)" and "A a = A(1)" in separate tokens.

[2017-02-17 19:19] DanielJamesCollier opened #208 "static_cast<> not highlighted in C++"
as said in title, static_cast is not highlighted
VSCode version: 1.9.1
<img width="328" alt="screen shot 2017-02-17 at 19 17 27" src="https://cloud.githubusercontent.com/assets/6226245/23079675/cb864090-f545-11e6-84ce-f6cd0794d318.png">

test code below

[code]

[2017-02-21 15:06] aeschli opened #209 "Parameter types not colour-coded properly"
_From @JeffreyCA on February 19, 2017 18:33_

- VSCode Version: Code 1.9.1 (f9d0c687ff2ea7aabd85fb9a43129117c0ecf519, 2017-02-08T23:31:51.320Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|code-runner|formulahendry|0.6.10|
|cpptools|ms-vscode|0.10.1|
|vscode-icons|robertohuertasm|7.2.0|
|ayu|teabyii|0.2.1|
|debug|webfreak|0

[2017-02-21 15:06] aeschli commented on #209
_From @jrieken on February 21, 2017 9:21_

what language is that?

[2017-02-21 15:06] aeschli commented on #209
_From @JeffreyCA on February 21, 2017 12:11_

C

[2017-02-22 22:09] aeschli opened #210 "[C++] final and override keywords are not correctly identified"
_From @rielz on December 27, 2015 16:58_

The C++11 specifiers [`final`](http://en.cppreference.com/w/cpp/language/final) and [`override`](http://en.cppreference.com/w/cpp/language/override) are missing in the C++ syntax file.
They are context specific keywords, so they must not always be classified as a keyword.

Ironically they are present in the [C syntax](https://github.com/Microsoft/vscode/bl

[2017-02-22 22:09] aeschli commented on #210
This issue was moved to textmate/c.tmbundle#32

[2017-02-28 00:29] mjbvz opened #211 "Syntax highlight for C code breaks with macro definition containing a function/parenthesis"
_From @mopsfelder on February 27, 2017 13:40_

- VSCode Version: 1.9.1
- Extensions: ms-vscode.cpptools@0.10.1
- OS Version: Fedora 25

Steps to Reproduce:

1. Create a basic C program with macro definition containing a function.  For example:

[code]
2. With the above code example, the syntax highlight for C code breaks, turning `main()` definition entirely blue-ish.  See:

![selection_032](https

[2017-02-28 00:30] mjbvz commented on #211
Confirmed this syntax highlighting issue in atom as well

[2017-03-01 05:18] boazsegev commented on #204
The Atom minor version bump (1.14.x->1.15.x) might be a good time to introduce this change.

[2017-03-02 01:21] artagnon commented on #211
I think this is the same issue:

<img width="789" alt="screenshot 2017-03-01 20 19 12" src="https://cloud.githubusercontent.com/assets/37226/23488769/a72e1cb0-febc-11e6-993b-e0539b1926a3.png">

[2017-03-06 14:08] sean-mcmanus commented on #101
Another repro seems to be https://github.com/Microsoft/vscode-cpptools/issues/529 .

[2017-03-06 22:21] #173 closed

[2017-03-06 22:21] #180 closed

[2017-03-06 22:21] #185 closed

[2017-03-06 22:21] #186 closed

[2017-03-06 22:21] #189 closed

[2017-03-06 22:21] #199 closed

[2017-03-06 22:21] #203 closed

[2017-03-06 22:21] #209 closed

[2017-03-06 22:21] #211 closed

[2017-03-06 22:21] #100 closed

[2017-03-06 22:21] #111 closed

[2017-03-06 22:21] #113 closed

[2017-03-06 22:21] #119 closed

[2017-03-06 22:21] #124 closed

[2017-03-06 22:21] #152 closed

[2017-03-06 22:21] #155 closed

[2017-03-06 22:21] #160 closed

[2017-03-06 22:21] #31 closed

[2017-03-06 22:21] #75 closed

[2017-03-06 22:21] #78 closed

[2017-03-06 22:21] #90 closed

[2017-03-06 22:22] 50Wliu commented on #210
This appears to have been fixed.
![image](https://cloud.githubusercontent.com/assets/2766036/23632864/88cc81f2-0291-11e7-9c6a-4f421c61c7fa.png)

[2017-03-06 22:22] #210 closed

[2017-03-06 22:24] 50Wliu commented on #198
This appears to have been fixed.
![image](https://cloud.githubusercontent.com/assets/2766036/23632952/cf11c19a-0291-11e7-945b-809a6a4f23b4.png)

[2017-03-06 22:24] #198 closed

[2017-03-07 05:43] alpyre commented on #201
This seems to have been fixed with #206

[2017-03-07 15:45] #201 closed

[2017-03-07 16:25] 50Wliu commented on #103
Not entirely fixed yet.

[2017-03-07 17:16] 50Wliu opened #213 "Add more meta scopes"
This issue is a follow-up to a discussion in #206, and as such the prerequisites do not apply.

We've decided that it would be beneficial to add more verbose meta scopes, for example `meta.function.c` and `meta.function.body.c`, similar to what language-java does.
[code]

/cc @alpyre

[2017-03-07 21:07] #103 closed

[2017-03-15 18:04] sean-mcmanus opened #215 "Function templates invocations with explicit template parameters aren't colorized correctly"
[code]
The invocation of the function template with explicit args is not being colorized as a function in VS Code, which uses atom/language-c.

[2017-03-17 20:01] collinjackson93 opened #217 "Highlighting wrong for ternary expression with namespace resolution"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-03-29 17:32] sean-mcmanus opened #218 "Regression: Syntax highlighting breaks after #define with no definition"
Repros with the VS Code 0.11.0-Insiders build, which got a new atom/language-c recently (0.10.2 doesn't repro this).

#ifndef _UCRT
    #define _UCRT
#endif

This is a before and after screenshot. The 2nd image is buggy on the 3rd line. The blue on the 1st line of the 1st image might be a bug that got fixed recently (not sure). The cause is the #define line without a definition, which is valid.

!

[2017-03-29 21:22] lee-dohm commented on #218
I can't reproduce this using Atom v1.15.0 on Mac OS X 10.12.3, which is using [language-c](https://github.com/atom/language-c) v0.56.0, nor on Atom v1.17.0-dev-5b6cca41e on Mac OS X 10.12.3, which is using language-c v0.57.0, the latest released version. I tested it using both C and C++ grammars and was not able to reproduce this on either version.

This appears to be a bug in VSCode itself.

[2017-03-29 21:22] #218 closed

[2017-03-31 07:54] aeschli commented on #218
Trying the example with the latest version of the grammar (atom/language-c@676056d (2017-03-07)) results in an endless loop: 'Grammar pushed & popped a rule without advancing'.
That's with VSCode's textmate engine

[2017-03-31 08:53] Ben3eeE commented on #218
@aeschli I don't see any problems in Atom when using v0.57.0 https://github.com/atom/language-c/commit/95d9654da845107e9ce28caeecac49567fee34c1 or when using the latest commit https://github.com/atom/language-c/commit/17aa8040079633ffa4f9e42ed827a7b231390176

[2017-04-01 11:50] AndyBay opened #219 "C++ Highlight argument variables inside functions"
In Visual studio function arguments differ in colour from
other variables initialized within the function.

This is a great way to differentiate between them.

Visual studio:
![vs_function_arguments_colour](https://cloud.githubusercontent.com/assets/1170184/24578468/2d5674fe-16e1-11e7-90a2-05196e04c7ca.png)

Atom:
![atom_function_arguments_colour](https://cloud.githubusercontent.com/assets/1170184

[2017-04-02 11:05] JatinYadav1307 opened #220 "Add an option to remove "std::" from all the snippets"
I usually start all my cpp/c files by writing

[code]

Now after this having every snippet insert ```std::``` in front of everything I use is very unpleasant. Add an option to toggle these if possible.

Thanks

[2017-04-03 19:49] 50Wliu commented on #218
I also can't reproduce.  No warnings in console either.

[2017-04-04 08:41] thomasjo commented on #220
What you are proposing is not currently supported by the underlying snippet framework. Your best option now is to duplicate the relevant snippets and place them in your `~/.atom/snippets.cson` file, then remove the `std::` prefix. Alternatively you'll have to fork this language package, and publish and maintain that fork as a series of patch commits that removes the namespace prefix.

Since this i

[2017-04-04 08:41] #220 closed

[2017-04-04 11:57] thomasjo commented on #219
This is not possible with a purely regex-based system like we currently have in Atom. Functionality of this nature requires a parser-based system — essentially we need an AST (abstract syntax tree) to do this in a meaningful way. Once we get [tree-sitter](https://github.com/tree-sitter/tree-sitter) (or some such) implemented in Atom, we can handle this request.

---
@atom/maintainers Since this is

[2017-04-04 13:29] afischer opened #222 "Bracket-delineated format strings marked as invalid/illegal"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-04-04 15:39] 50Wliu commented on #219
Sounds good to me.  I didn't read the issue closely enough.

[2017-04-04 15:39] #219 closed

[2017-04-04 21:40] #217 closed

[2017-04-05 14:44] aeschli commented on #218
The VSCode's textmate engine has an extra check on whether a grammar advances.
It stumbles over https://github.com/atom/language-c/blob/master/grammars/c.cson#L756
[code]
where neither the the `begin` nor the `end` pattern consume anything, in theory entering in an endless loop. Looks like the atom-textmate implementation doesn't care and continues on the next line. Maybe you have some insights on

[2017-04-05 14:50] 50Wliu commented on #218
Looks like we handle it [here](https://github.com/atom/first-mate/blob/e06b550732b30e7d50991c6cab87b238a7282eeb/src/pattern.coffee#L144).

I would be open to adding a negative lookahead.

[2017-04-05 16:05] lee-dohm commented on #218
@aeschli Since we can't test whether the solution would work for you, please feel free to submit a PR. You may want to also consider either:

1. Adding the same workaround preventing infinite loops Atom uses
1. Adding a workaround that notifies you of the problem so that you can submit PRs to improve other grammars

[2017-04-07 06:37] aeschli opened #223 "c/cpp bad highlighted (wchar_t)"
_From @NearTox on April 6, 2017 16:54_

- VSCode Version: 1.11.1
- OS Version: Windows 10

Steps to Reproduce:
C++ source code:
test.cpp
[code]
but in vscode looks like this:
![vscode bug](https://cloud.githubusercontent.com/assets/3236398/24766012/8d995c28-1abf-11e7-8a02-629f73556692.PNG)

_Copied from original issue: Microsoft/vscode#24099_

[2017-04-07 14:17] 50Wliu commented on #223
/cc @bobbrow: this looks like a regression caused by #200.

[2017-04-07 16:56] #223 closed

[2017-04-09 11:18] ooJerryLeeoo opened #225 "[Question] How to change C++ '%' flag color"
I can only change C '%' flag color
Example:

C++
![screen shot 2017-04-09 at 19 22 56](https://cloud.githubusercontent.com/assets/20783502/24836870/fc9fd6dc-1d59-11e7-86f9-e11122db6cad.png)

C
![screen shot 2017-04-09 at 19 22 35](https://cloud.githubusercontent.com/assets/20783502/24836872/006e4280-1d5a-11e7-816c-0a8b109682e7.png)

[2017-04-09 16:12] 50Wliu commented on #225
Thanks for reaching out!

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since [they don't represent a task needing to be completed](http://blog.atom.io/2016/04/19/managing-the-deluge-of-atom-issues.html). For most questions about Atom there are a lot of options, check out

[2017-04-09 16:12] #225 closed

[2017-04-10 12:44] ooJerryLeeoo commented on #225
@50Wliu I think this is a bug, not question...

[2017-04-10 12:52] ooJerryLeeoo commented on #225
The `%` flag color should be change by adding this code into style.less:
[code]
But it can only change the color when the syntax is `C`.

[2017-04-10 16:59] 50Wliu commented on #225
Please create a new issue and completely fill out the issue template.

[2017-04-10 17:24] ooJerryLeeoo opened #226 "Cannot change format specifier color when syntax is C++"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-04-11 08:14] ooJerryLeeoo opened #227 "[Bug] 'else' statement disappeared when the 'if' statement is fold in"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-04-11 13:32] ooJerryLeeoo commented on #227
@50Wliu I fix this :bug: by change `foldEndPattern` from `(?<!\\*)\\*\\*/|^\\s*\\}` to `(?<!\\*)\\*\\}` , can you take a look ?

[2017-04-11 15:20] 50Wliu commented on #227
Can you create a PR for that?

[2017-04-15 04:29] boazsegev commented on #204
Any update on this?

[2017-04-17 00:49] ooJerryLeeoo commented on #226
@50Wliu Can you take a look ??

[2017-04-18 09:40] aeschli opened #230 "word color"
_From @MohammedSabbah on April 16, 2017 5:0_

Hi, recently I started to work on c++ project using vscode. My problem is that when I type some major words (for example vector'<'string'>', neither vector nor string are colored ), the editor does not color it.
Could you please add a method to color some selected words and specify the color?

_Copied from original issue: Microsoft/vscode#24847_

[2017-04-18 09:40] aeschli commented on #230
Can you attach a code example? Also make sure that the editor is in C++ mode.

[2017-04-18 09:40] aeschli commented on #230
_From @MohammedSabbah on April 18, 2017 8:42_

@aeschli
![screenshot from 2017-04-14 10-08-25](https://cloud.githubusercontent.com/assets/22482236/25121993/120d69de-242c-11e7-90f0-a360893ffbcb.png)

[2017-04-18 09:40] aeschli commented on #230
I seems that the C++ grammar doesn't create separate tokens for 'vector<string>'.

[2017-04-18 20:09] JangoBrick commented on #81
Can confirm that namespaces after the colon and also multiple inheritance are still not highlighted properly. language-c v0.57.0, Atom v1.16.0.

[2017-04-19 17:51] JangoBrick commented on #81
I noticed today that, in fact, when the RegEx does not match (as is the case without PR #231 or any equivalent solution), whole chunks of the code cannot be identified. This includes (pun not intended) preprocessor statements even before the class definition, keywords inside the class, and others.

So something definitely needs to be done.

[2017-04-20 22:32] sean-mcmanus opened #232 "Keyword highlighting in inheritance list breaks after a new line"
Reproed with VS Code - Insiders (they're on the April 7th version). Seems related to https://github.com/atom/language-c/issues/101 .

class b {};
class c {};
class a: public b,
	public c
{};
![image](https://cloud.githubusercontent.com/assets/19859882/25255151/21a2b5e4-25de-11e7-94b5-aa268a95cb86.png)

[2017-04-21 20:13] JangoBrick commented on #177
Apparently fixed by #195. I think this should be closed.

[2017-04-21 20:15] 50Wliu commented on #177
Nope, this is still a problem.

[2017-04-27 12:40] sean-mcmanus opened #233 "#error directive doesn't handle ' or " correctly"
Use
`#error doesn't
#error need "fixing
int j;
'`
The ' and " should not cause string highlighting until the next matching closing ' or " is found. Only the entire error line should be treated as a string.

[2017-05-04 02:53] ooJerryLeeoo commented on #226
@50Wliu Can you take a look ??

[2017-05-04 03:17] 50Wliu commented on #226
Confirmed.

[2017-05-12 14:56] ooJerryLeeoo commented on #226
@50Wliu Any update in this ?

[2017-05-12 16:40] 50Wliu commented on #226
No.

[2017-05-22 15:42] bobbrow commented on #232
A similar report (copied from https://github.com/Microsoft/vscode-cpptools/issues/748)
@Vultraz

Inherited class names aren't highlighted correctly if they're on a new line

![class formatting issue](https://cloud.githubusercontent.com/assets/3558659/26288042/2f626a58-3ed4-11e7-9bd8-d0acaab6f751.JPG)

Virtual keyword in inheritance takes the class name highlighting.

![class formatting issue2](htt

[2017-05-24 00:32] #226 closed

[2017-05-24 15:24] collinjackson93 opened #236 "List (Braced) Initialization Doesn't Hightlight"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-05-28 14:42] boazsegev commented on #204
@sunjay , I appreciate the participation in the discussion.

Could you explain your reasoning for voting against this?

[2017-05-28 16:35] sunjay commented on #204
I think the default should be configurable. I've seen plenty of C++ projects use `.h` and it is frustrating having to switch the highlighting back for every file.

[2017-05-28 17:28] boazsegev commented on #204
@sunjay ,

I can see your point. However, I hope you will consider the following three points:

1. While C++ projects can rename `.h` files to `.hpp` (or `.h++`/`.hxx`), C projects have no other options - C only uses the `.h` extension.

    So, although it's frustrating for both C++ developers and C developers to switch highlighting (and linter) back and forth, **only C++ developers can avoid thi

[2017-05-29 07:47] thomasjo commented on #204
Since this can trivially be worked around by user configuration, I'm closing this issue. The recommended way to override the default grammar assignment is to use the `core.customFileTypes` property, which should be set in your `~/config.cson` file;

[code]

Hopefully we can use more advanced heuristics in the future, or have this be easier to configure via a GUI, but until that day the above shoul

[2017-05-29 07:47] #204 closed

[2017-05-29 14:05] boazsegev commented on #204
@thomasjo ,

I hope you reconsider.

The fact that users can apply a local fix doesn't mean the the issue should be closed.

...especially considering that the issue is that the "out-of-the-box" behavior is contrary to community standard and best practices.

Ultimately, I'm a just a thankful guest trying to make Atom even better. I am thankful for all the team behind this wonderful product.

Have

[2017-05-30 01:51] ooJerryLeeoo opened #238 "alignof, alignas, typeid scope incorrect"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-05-31 20:44] #238 closed

[2017-06-05 07:49] ooJerryLeeoo opened #240 "Operator function scope incorrectly"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-06-26 03:50] aeschli opened #243 "Missing highlighting of types"
From https://github.com/Microsoft/vscode/issues/29292

1.
[code]
2. custom
[code]

Built-in types are highlighted though!
What has to be done to get all types highlighted  ?

[2017-06-28 18:39] hgdsraj commented on #243
This is normal behaviour. Neither Vim, VS Code, Sublime Text nor Gedit support this behavior. Built in types are highlighted, externally defined types are not. This is logical behaviour as the highlighting of external types would require continuous definition lookup. Perhaps this issue is better served by an external plugin.

[2017-07-04 17:15] AeroStun commented on #243
Though, this is a functionnality in Geany

[2017-07-07 11:23] BillDenton commented on #233
Any news on this? I've just tripped over it again.

[2017-07-07 18:40] sean-mcmanus commented on #233
I don't have any news.

[2017-07-11 07:15] Leedehai commented on #207
Well.. does the VSCode team have plan for this issue? I really look forward to this. VSCode is a great editor!
I know it may be difficult to tackle, considering the class/struct/type definition may be in another file.. a lexer might be needed (plz ignore this if i am wrong:))

[2017-07-11 10:37] aeschli opened #245 "C++ syntax highlighting: Multiple parent classes are not syntax-highlighted if there is a line break in between"
_From @tobbi on July 4, 2017 0:4_

- VSCode Version: Version 1.14.0-insider (1.14.0-insider)
cea00a71bef01a5ecbae39a8dd4f1bd08fd50c57
2017-07-03T11:01:02.438Z

- OS Version: Mac OS X 10.12.5

Steps to Reproduce:

1. Write the following syntactically correct C++ code:
[code]
2. See how _public MyClass1_ is syntax-highlighted correctly. However, _public MyClass1_ and _public MyClass2_ are not gettin

[2017-08-02 21:54] Leedehai commented on #81
(Copied @Leedehai)
Key word 'public' not recognized when namespace is involved in class inheritance
<img width="357" alt="screen shot 2017-08-01 at 21 55 41" src="https://user-images.githubusercontent.com/18319900/28858254-2de54b74-7704-11e7-90ca-ff3a1cabd1a2.png">
Also, class name is not recognized when namespace is involved. I feel regex matching is problematic when "::" is prefixed/suffixed.

[2017-08-02 22:25] sean-mcmanus opened #246 "alignof(i) not colored as a keyword"
Use `int a = alignof(char)`. The colorization of alignof is as a function instead of a keyword. It should match sizeof(). This repros with Atom and VS Code. See https://github.com/Microsoft/vscode-cpptools/issues/938 .

[2017-08-11 14:16] aeschli opened #248 "the comment /* …… */ can not be nested."
_From @eillon on June 18, 2017 8:21_

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:18:03.540Z)
- OS Version: Linux x64 4.8.0-54-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-runner|formulahendry|0.6.20|
|cpptools|ms-vscode|0.11.4|;

---

Steps to Reproduce:
Such as this:
![image](https://user-images.githubusercontent.com/18638530/27

[2017-08-11 14:16] aeschli commented on #248
_From @CherryDT on June 18, 2017 8:40_

@eillon Which language are you refering to? I don't know any programming language so far where nested `/* */` is allowed, so it would be correct that VSCode tells you this.

EDIT: Okay now I know one, called "Newspeak". Still, none of the _major_ languages I know support it.

[2017-08-11 14:16] aeschli commented on #248
_From @eillon on June 18, 2017 10:9_

@CherryDT  C and C++. I can compile and run the program corrently, but the VSCode tells me it's wrong.

[2017-08-11 14:16] aeschli commented on #248
_From @CherryDT on June 18, 2017 19:27_

@eillon What compiler are you using? To all my knowledge, neither C nor C++ support this.

[2017-08-11 14:16] aeschli commented on #248
_From @eillon on June 19, 2017 8:5_

@CherryDT  gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609
you can try the program below:
`#include<stdio.h>
int main(){
    printf("Hello World\n");
    /* /*  */ */
    return 0;
}`
It can compile and run corrently, but VSCode may give a red point-out.

[2017-08-11 14:29] CherryDT commented on #248
@eillon
Not sure how you managed to do that, with the same compiler version I get an error just as I would expect:

![image](https://user-images.githubusercontent.com/6010463/29217489-4131d066-7eb2-11e7-9378-79ccfd6da80d.png)

[2017-08-11 15:35] 50Wliu commented on #248
Closing as `wontfix`.  The majority of C compilers do not support nested comments.

[2017-08-11 15:35] #248 closed

[2017-08-21 08:30] #174 closed

[2017-09-03 19:38] Froyok commented on #21
I came across the same "problem". I would really like the behavior described by the author.
Is this possible somehow ?
I understand this could be related to some specific styles, but having a way to personalize that behavior would be great. If not, a way to hack it ?

[2017-09-18 03:10] bardes commented on #204
.h headers really should default to C. I spent a lot of time investigating spurious warnings due to this unreasonable default...

[2017-09-18 06:33] aayushpatidar opened #249 "Can I use this in different code editors for auto complete ?"
I have the Code mirror editor for online Programming but I want the code snippets of the atom.
So can I integrate the atom of this language with my Code mirror editor?

[2017-09-18 07:32] Ben3eeE commented on #249
Thanks for reaching out!

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since [they don't represent a task needing to be completed](http://blog.atom.io/2016/04/19/managing-the-deluge-of-atom-issues.html). For most questions about Atom there are a lot of options, check out

[2017-09-18 07:32] #249 closed

[2017-09-18 16:46] mjbvz opened #250 "Incorrect highlighting when source.c or source.cpp is embedded within another grammar"
From https://github.com/Microsoft/vscode/issues/34525

### Description

When the c/cpp grammar is embedded within another grammar, the syntax highlighting is incorrect. A simple example is the markdown grammar which embeds `source.c` and `source.cpp` for highlighting fenced code blocks

### Steps to Reproduce

1. In a markdown file write:
[code]

**Expected behavior:** [What you expect to happen]

[2017-10-17 07:48] 50Wliu commented on #250
See #146.  Textmate handles `$base` poorly when embedded.

[2017-10-17 07:48] #250 closed

[2017-10-20 22:45] cbcoutinho commented on #245
Instead of creating a new issue I just wanted to add to this one. Similar to this issue, multiple line class inheritance is not being properly treated as expected. In the project that I'm working on, the original authors decided to put the parent class on the next line.

Notice how the 'BasicTurbulenceModel' parent class is not correctly highlighted:

Seems to be an issue of not correctly taking a

[2017-10-23 15:24] oktonion commented on #245
Looks like highlighting of any user defined type is broken or not implemented at all. Shame,

[2017-12-18 09:17] jhasse opened #258 "and, or, ... not colored as keywords"
`and`, `or` aren't colored as keywords, which results in them not being easily distinguishable in VS Code. See https://github.com/Microsoft/vscode/issues/28555

[2017-12-18 10:55] thomasjo commented on #258
They are captured as [keywords](https://github.com/atom/language-c/blob/master/grammars/c%2B%2B.cson#L72-L73). This ultimately seems like something that needs to be resolved in VS Code, since we're correctly marking them as keywords, specifically `keyword.operator.cpp`.

[2017-12-18 10:55] #258 closed

[2017-12-18 10:55] EslamElHusseiny opened #259 "Failed to load a language-c package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.24.0-beta0 x64
**Electron**: 1.6.15
**OS**: Mac OS X 10.13.2
**Thrown From**: [language-c](https://github.com/atom/language-c) package 0.59.0-2

### Stack Trace

Failed to load a language-c package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-01-22 09:51] sean-mcmanus opened #260 "C++17 nested namespaces don't have the correct colorization"
namespace level1::level2

The level1 is colored, but the level2 is not.

Repros with Atom and VS Code.

Original issue: https://github.com/Microsoft/vscode-cpptools/issues/1477

[2018-01-24 10:26] Raj2032 opened #261 "Please improve 'intellisense' like features"
This C++ package support is not very great. For example if I type this

int main()

As soon as I getting a suggestion to add the main function this is what I get

int int main(int argc, char const argv[]) {
/ code */
return 0;
}

See how it repeats int twice and how it adds “int argc, char const *argv[]” when I did not want this to be added.

On top of that it uses the egyption style braces rather

[2018-01-24 10:44] Ben3eeE commented on #261
Thanks for taking the time to contribute!

Closing as a duplicate of https://discuss.atom.io/t/are-there-any-good-c-support-for-atom/51788/3.

[2018-01-24 10:44] #261 closed

[2018-01-24 10:47] Raj2032 commented on #261
Hey man,

Where I have posted this issue on the othersite is where I am asking for a replacement package, over here I am trying to give suggestions. are you able to report bugs on the other site as well?

Do you know how to fix this issue?

[2018-01-24 11:08] Ben3eeE commented on #261
As `@DamnedScholar` replied in that topic these are snippets. They take some text (in this case `main`) and replace it with something else (in this case `int main(int argc, char const *argv[]) {\n\t${1:/* code */}\n\treturn 0;\n}`.

Since you type `int main` and then replace `main` with the above text `int` will be repeated.

We are not interested in changing the default snippets to another code s

[2018-01-24 11:57] Raj2032 commented on #261
How would I do this specifically for Language-C? When I opened the
snippets, there is nothing their but comments. How come this is happening?

On Wed, Jan 24, 2018 at 10:08 PM, Linus Eriksson <notifications@github.com>
wrote:

[2018-01-25 07:51] DamnedScholar commented on #261
There is nothing in `snippets.cson` because you haven't added anything to it. `snippets.cson` *does not* show you what snippets are currently active. It is a plain text file for you to put your own snippets, which will override built-in ones if they have the same name and scope.

[2018-01-25 08:08] Raj2032 commented on #261
Nevermind it has been fixed, thanks @Holland :)

On Thu, Jan 25, 2018 at 6:51 PM, Holland Wilson <notifications@github.com>
wrote:

[2018-02-17 14:47] segevfiner opened #262 "Should snippets use $0?"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-03-06 09:22] aeschli opened #264 "cpp file function named iterate will be rendered in wrong color."
Steps to Reproduce:

1. create a file with cpp extension
2. name a function a iterate

then the letter i in the word iterate will be rendered as white color, instead of yellow.

_Copied from original issue: Microsoft/vscode#45008_

[2018-03-18 08:24] Leedehai opened #265 "C's preprocessor directive #ifdef/#endif grays out code"
### Description

Issues posted here: https://github.com/Microsoft/vscode-textmate/issues/63#event-1525495882

### Steps to Reproduce
**Expected behavior:**
Please, do not grey out the code because the macro is not defined, because macros may be passed in by the compiler (e.g. gcc's `-D` option).
**Actual behavior:**
Gray out the code anyway.
**Reproduces how often:**
100%.

[2018-03-20 02:36] Arcanemagus commented on #265
Using the following text from your VSCode issue:
[code]

I am unable to reproduce the behavior you are seeing there under Atom v1.25.0:
TextMate:
![image](https://user-images.githubusercontent.com/427137/37632217-635feb46-2baa-11e8-851f-3d392edd54f1.png)

Atom v1.25.0 is using [v0.59.2](https://github.com/atom/language-c/releases/tag/v0.59.2) of this grammar. Unfortunately it looks like @alexandru

[2018-03-20 02:36] #265 closed

[2018-03-29 08:56] aeschli opened #266 "[cpp] syntax highlighting in type declarations"
I've noticed that for C++ source codes, the color formatting of the 'Type' in declarations (e.g. string x; User_defined_type y; etc. etc) is the same as the default font styling.

[code]

_Copied from original issue: Microsoft/vscode#46831_

[2018-04-04 08:53] aeschli opened #267 "Wrong code colors with specific template and macro code"
_From @maxco2 on April 4, 2018 3:20_

Issue Type: <b>Bug</b>
![wrongcolors](https://user-images.githubusercontent.com/11772699/38286855-27d02b34-37fa-11e8-98d1-58216665c5b4.png)

[code]
VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.17133

Extensions: none
Reproduces without extensions

_Copied from original issue:

[2018-04-04 09:00] aeschli commented on #267
Looks similar than #185. The `meta.preprocessor.macro.c` scope sticks around

[2018-04-05 05:18] dogancan opened #268 "When tree-sitter parsers are enabled, ".h" files are treated as C headers by default."
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-04-05 07:05] thomasjo commented on #268
Simply change `source.cpp` to `cpp`, and everything should work as expected.

[2018-04-05 07:18] dogancan commented on #268
Thanks!

[2018-04-06 06:44] Arcanemagus commented on #267
I'm unable to reproduce this using Atom v1.26.0-beta1 using the TextMate grammar:
![image](https://user-images.githubusercontent.com/427137/38406638-d8de594c-392a-11e8-8eb4-ecb0c8dff342.png)

[That is using](https://github.com/atom/atom/blob/v1.26.0-beta1/package.json#L141) [v0.59.3](https://github.com/atom/language-c/releases/tag/v0.59.3) of this grammar, can you try checking with that version?

[2018-04-06 11:49] aeschli opened #269 "[cpp] highlighting issue after #if"
_From @nebulaM on April 5, 2018 20:24_

- VSCode Version:
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:47.128Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
- OS Version: Windows 10, Version 1703

Steps to Reproduce:

Please see attached image.

1. Add conditional compilation(#if) to a function's input.
2. Observe that all lines after that h

[2018-04-06 16:36] Arcanemagus commented on #269
I believe I'm able to replicate this in Atom v1.26.0-beta1.

Using this text:
[code]

The `var3` in `example0` has these scopes:
* `source.c`
* `meta.block.c`

While the `var3` in `example2` has these scopes:
* `source.c`
* `meta.function.c`
* `meta.block.c`

Which definitely implies something is different with the parsing of the two functions.

For reference, the new Tree-sitter grammar handles t

[2018-04-08 03:01] maxco2 commented on #267
@aeschli
I tested Atom v1.25.1 to color this code. Everything works fine.
![atom](https://user-images.githubusercontent.com/11772699/38462518-0d0151ba-3b1b-11e8-821e-40781fd14037.png)

This bug can only reproduce on vscode.
I also checked c++/c.cson( v0.59.3)  and cpp/c.tmLanguage.json(vscode v1.22) briefly.
Did‘t find crucial difference.

[2018-04-09 09:03] aeschli commented on #267
That's  what I see in Atom:
![image](https://user-images.githubusercontent.com/6461412/38488983-55a271f4-3be5-11e8-88fd-8a8b7179866a.png)

You can see that the `meta.preprocessor.macro.c scope` sticks around.
VSCode gives color to that scope which causes the all blue rendereing (that is a bug), but the grammar actually end that scope after the #define's.

[2018-04-10 11:59] beckerzito commented on #233
Any news on this issue?

[2018-04-10 20:44] sean-mcmanus commented on #233
The pull request with the tentative fix is https://github.com/atom/language-c/pull/251 , but apparently some issue was found that hasn't yet been resolved.

[2018-04-11 20:26] aeschli opened #270 "Highlight breaks with #error or #warning directive in C using apostrophe"
_From @beckerzito on April 10, 2018 12:22_

- VSCode Version: 1.21.1
- OS Version: Windows 7 Professional 64-bits

Steps to Reproduce:
1. Write a code in C using the directive #error or #warning
2. Use an apostrophe with these directives
3. See highlight

How it looks like:
![image](https://user-images.githubusercontent.com/26304432/38556564-7cf1b63c-3ca0-11e8-8b7f-ae5e9265ff95.png)

How it should

[2018-04-11 20:53] Arcanemagus commented on #270
Using this text:
[code]

I can reproduce this on Atom v1.26.0-beta1 using the TextMate grammar:
![image](https://user-images.githubusercontent.com/427137/38642260-5f85cfea-3d8e-11e8-9ff0-57c278a20b8d.png)

[2018-04-24 23:33] nebulaM opened #272 "Space after comment in C not correct"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-04-25 02:09] Arcanemagus commented on #272
It looks like this is due to your non-standard comment style.

Most of the time comments are written as:
[code]

It seems that the way it is working currently is just doing "one space less than the beginning of the last line".

[2018-04-27 04:01] BenLeggiero opened #273 "Trigraphs not supported"
const char * a = "foo ??/" ??/??/";

### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked

[2018-05-02 20:05] aeschli opened #274 "Syntax highlighting for C++ classes fails if base classes are declared on next line"
_From @elpixo on April 26, 2018 13:3_

Syntax highlighting for C++ classes fails if base classes are declared on next line.

[code]

_Copied from original issue: Microsoft/vscode#48756_

[2018-05-02 20:15] Arcanemagus commented on #274
This is potentially fixed by #252, as it is marked as fixing several issues related to this.

[2018-05-04 07:05] iPherian commented on #260
I have the same problem:

![language-c-highlighting-multi-component-ns](https://user-images.githubusercontent.com/8314722/39615994-02f84bd4-4f2e-11e8-829b-8e32cfb67524.png)

#### versions:

Atom    : 1.26.1
Electron: 1.7.11
Chrome  : 58.0.3029.110
Node    : 7.9.0
language-c : 0.59.3

[2018-05-04 19:19] aeschli opened #275 "Cpp code highlighting borken by opening and closing brackets in different preprocessor blocks"
_From @ItBeLab on May 4, 2018 6:23_

It is possible to break syntax highlighting by opening and closing brackets in different preprocessor blocks

![image](https://user-images.githubusercontent.com/37258512/39614960-8e590116-4fae-11e8-8b58-755aeceb5f4b.png)

_Copied from original issue: Microsoft/vscode#49174_

[2018-05-04 20:12] Arcanemagus commented on #275
Here's the code:
[code]

Using Atom v1.27.0-beta1 it looks like I can reproduce this:
![image](https://user-images.githubusercontent.com/427137/39650312-862a22f2-4f9c-11e8-816b-6813ec0d0298.png)

Note that the only part that seems to be parsed incorrectly is the `#endif` as it recovers immediately after that from what I can tell.

[2018-05-07 08:38] aeschli opened #276 "`meta.function-call` sticks around after `(int)::`"
[code]

After `(int)::` a `meta.function-call` is pushed and sticks around, causing that `Whatever3` gets a variable scope.

[2018-05-22 01:17] MonkeyInWind opened #277 "<unknown> is deprecated."
You have the core package "language-c" installed as a community package. See https://github.com/atom/dalek for how this causes problems and instructions on how to correct the situation.
[code]

[2018-05-22 17:21] rsese commented on #277
Thank you for the report!

The README linked in the report gives you instructions on the steps you need to take to get rid of this deprecation https://github.com/atom/dalek#i-got-a-warning-what-do-i-do

[2018-05-22 17:21] #277 closed

[2018-06-04 07:59] aeschli opened #278 "simmilar function calls get different scopes"
From https://github.com/Microsoft/vscode/issues/50081:

As you can see in the image, two **pow** functions are green but the last one is blue. It's caused by different scopes. The one odd `pow` has `support.function`, the others are `entity.name.function`

![image](https://user-images.githubusercontent.com/8548534/40216120-fe5d95bc-5a3a-11e8-8170-731ac1e452cd.png)
[code]

[2018-06-26 08:54] LawrenceBuckingham commented on #207
If a fix is not forthcoming in the near future, is there any workaround?

[2018-07-09 06:24] Arun-Depally opened #279 "Unable to Run"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-07-09 10:31] #279 closed

[2018-07-11 13:16] notAlaanor commented on #207
A solution is available as a workaround: https://github.com/cquery-project/cquery
Once configured correctly, the cquery extension for VSCode can provide semantic source highlighting and rapid code completion.

[2018-07-20 08:39] aeschli opened #280 "C++: Single open brace in #define"
_From @CChelak on July 18, 2018 17:45_

In our company's code, we define namespaces as macros. An example is below:
[code]
I've notice however, that the syntax highlighter doesn't know how to handle the open bracket at the end of the define and the rest of the code becomes highlighted as if it were part of the macro. Oddly enough, the word `namespace` seems to be an equal culprit in this problem b

[2018-07-20 08:47] aeschli opened #281 "proper C and C++ syntax highlighting?"
_From @Castlespring on July 18, 2018 11:12_

The syntax highlighting for C and C++ is totally off. My `#define` and `#ifdef`/`#ifndef` coloring is wrong and the definition name is colored differently to the #define, `#ifdef` and `#ifndef` which is not nice.

The real bugger is that when I have `Windows.h` included (or any header file containing its own type-definitions), type-definitions like `NTS

[2018-07-21 13:53] ImmortaleVBR commented on #281
This is annoying me as well. I wanted to use Visual Studio Code as an editor for C every now and then, but the syntax highlighting limitation ruins the experience for me; I am used to the highlighting. You cannot work with specific highlighting for 5+ years straight and then just ditch it... it is easier said than done.

[2018-07-23 16:41] need47 opened #282 "wrong tm scope for '>>' in vector<vector<>>"
This is valid in c++ 11. But it has the wrong scope of keyword.operator.bitwise.shift.c (as seen in Visual Studio Code)

![2](https://user-images.githubusercontent.com/1194165/43090496-8c39b7b2-8e75-11e8-920e-c99a474f534e.JPG)

Btw, the '>' seems has a problematic scope too.
![1](https://user-images.githubusercontent.com/1194165/43090534-9e71bce0-8e75-11e8-850f-50946d38fce4.JPG)

[2018-07-27 09:31] aeschli opened #283 "C# file kills performance"
Sorry, wrong repo, ignore

[2018-07-27 09:31] aeschli commented on #283
_From @alexandrudima on June 20, 2018 9:11_

@bigonazzi Can you please share the file or another one that reproduces the issue with us? My email address is viewable in my GitHub profile.

[2018-07-27 09:31] aeschli commented on #283
_From @vscodebot[bot] on June 27, 2018 12:50_

This issue has been closed automatically because it needs more information and has not had recent activity. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2018-07-27 09:31] aeschli commented on #283
_From @alexandrudima on July 27, 2018 9:7_

I have reduced and anonymised the repro to the following code pattern:

[code]

[2018-07-27 09:31] aeschli commented on #283
_From @alexandrudima on July 27, 2018 9:11_

By logging from oniguruma, the following regular expression in the C# grammar causes the tokenization time to skyrocket:

[code]

I believe this regexp is the one used around `method-declaration` in the C# grammar.

[2018-07-27 09:34] #283 closed

[2018-08-21 08:04] Arcanemagus commented on #276
Confirming on `1.31.0-nightly9`:
![image](https://user-images.githubusercontent.com/427137/44388881-26799f80-a4de-11e8-8a79-5fd697340f00.png)

[2018-09-11 11:30] beckerzito commented on #270
Hi,

Any update on this?!

[2018-09-24 19:14] aeschli opened #285 "Syntax highlighting of parameters not working"
_From @chengzeyi on September 23, 2018 16:2_

- VSCode Version: 1.27.2
- OS Version: Ubuntu 18.04 LTS

Steps to Reproduce:

1. Create a new cpp source code file.
2. name a local variable or a function parameter "sEnd".
[code]
The color of "sEnd" is the same as class member's, not what it should be.
In my case,  the color should be white but in fact it is rendered to be sky blue.
Other names like s

[2018-09-24 22:51] Arcanemagus commented on #285
It looks like this can be traced _all_ the way back to https://github.com/textmate/c.tmbundle/commit/390912121aa95cdccdc7d454a9d0f5fa282e7fcb, and the code hasn't been touched since.

In Atom at least the Tree-sitter parser can be used to work around this as it doesn't special case those, but that does little to help this case.

[2018-09-25 02:14] chengzeyi commented on #285
So this is a "feature" not a bug? Really odd old things...

[2018-09-25 16:05] Arcanemagus commented on #285
Well, at some point somebody thought it was a feature at least. _Personally_ I would call it a bug since it's only there to support something that was a legacy 13 years ago... at this point that's an antique.

I'll label it as a bug, but I don't know the language files enough to say one way or the other officially.

[2018-09-25 20:10] lee-dohm commented on #285
This doesn't appear to reproduce in Atom. Both `sEnd` and `siEnd` have the scope `source.c` associated with it. If this is only causing a problem in VSCode, then it isn't something that we're going to be investigating.

@50Wliu can you shed any more light on this?

[2018-09-25 20:16] Arcanemagus commented on #285
I was able to reproduce this when TextMate parser was enabled, are you sure you didn't have Tree-sitter enabled? That works around the issue as [previously stated](https://github.com/atom/language-c/issues/285#issuecomment-424151261).

[2018-09-28 22:19] safield commented on #281
+1.

-Adding template diamond brackets to a method call breaks syntax highlight.
[code]

-there is no way to differentiate between a method declaration/definition, and a method invocation in a color theme. This behavior is present in similar editors to VSCode. In the following snippet, both "Foo" strings will be colored the same, where as in Sublime Text, you can theme them separately.

[code]

Cl

[2018-10-01 18:03] maxbrunsfeld commented on #281
Our new parsing system, [Tree-sitter](http://tree-sitter.github.io/tree-sitter/) allows types to be highlighted consistently (as opposed to just highlighting a fixed list of known types).

Tree-sitter is enabled by default in Atom 1.32 beta. If you're not using our Beta channel, you can opt-in to using Tree-sitter by checking the `Use Tree-sitter Parsers` box in the settings view.

Aside from that

[2018-10-01 18:03] #281 closed

[2018-10-01 18:07] maxbrunsfeld commented on #266
This is fixed if you use the new [Tree-sitter](http://tree-sitter.github.io/tree-sitter) parsing system, which is enabled by default in Atom 1.32 Beta. If you're not the beta channel, you can enable it by checking the `Use Tree-sitter Parsers` box in the settings view, or wait for Atom 1.32 Stable to be released. Thanks!

[2018-10-01 18:07] #266 closed

[2018-10-01 18:08] maxbrunsfeld commented on #278
This is fixed if you use the new [Tree-sitter](http://tree-sitter.github.io/tree-sitter) parsing system, which is enabled by default in Atom 1.32 Beta. If you're not the beta channel, you can enable it by checking the `Use Tree-sitter Parsers` box in the settings view, or wait for Atom 1.32 Stable to be released. Thanks!

[2018-10-01 18:08] #278 closed

[2018-10-01 18:09] maxbrunsfeld commented on #276
This is fixed if you use the new [Tree-sitter](http://tree-sitter.github.io/tree-sitter) parsing system, which is enabled by default in Atom 1.32 Beta. If you're not the beta channel, you can enable it by checking the `Use Tree-sitter Parsers` box in the settings view, or wait for Atom 1.32 Stable to be released. Thanks!

[2018-10-01 18:09] #276 closed

[2018-10-01 18:10] maxbrunsfeld commented on #232
This is fixed if you use the new [Tree-sitter](http://tree-sitter.github.io/tree-sitter) parsing system, which is enabled by default in Atom 1.32 Beta. If you're not the beta channel, you can enable it by checking the `Use Tree-sitter Parsers` box in the settings view, or wait for Atom 1.32 Stable to be released. Thanks!

[2018-10-01 18:10] #232 closed

[2018-10-01 18:10] maxbrunsfeld commented on #274
This is fixed if you use the new [Tree-sitter](http://tree-sitter.github.io/tree-sitter) parsing system, which is enabled by default in Atom 1.32 Beta. If you're not the beta channel, you can enable it by checking the `Use Tree-sitter Parsers` box in the settings view, or wait for Atom 1.32 Stable to be released. Thanks!

[2018-10-01 18:10] #274 closed

[2018-10-01 18:10] maxbrunsfeld commented on #207
This is fixed if you use the new [Tree-sitter](http://tree-sitter.github.io/tree-sitter) parsing system, which is enabled by default in Atom 1.32 Beta. If you're not the beta channel, you can enable it by checking the `Use Tree-sitter Parsers` box in the settings view, or wait for Atom 1.32 Stable to be released. Thanks!

[2018-10-01 18:10] #207 closed

[2018-10-01 18:13] maxbrunsfeld commented on #275
This is fixed if you use the new [Tree-sitter](http://tree-sitter.github.io/tree-sitter) parsing system, which is enabled by default in Atom 1.32 Beta. If you're not the beta channel, you can enable it by checking the `Use Tree-sitter Parsers` box in the settings view, or wait for Atom 1.32 Stable to be released. Thanks!

[2018-10-01 18:13] #275 closed

[2018-10-01 18:29] bobbrow commented on #232
This issue is about the TextMate grammar as we consume it in VS Code, so we can't just switch to Atom 😉 .  Are you essentially saying that the old grammar will not be updated and that VS Code needs to use this new tree-sitter thing instead of TextMate now?

[2018-10-01 18:35] lee-dohm commented on #285
@aeschli Do you have any suggestions on how this can be fixed? Perhaps a PR?

[2018-10-01 18:43] maxbrunsfeld commented on #232
We'll continue to accept PRs that update the text-mate grammar for quite a while probably, but we probably won't prioritize work on these kinds of things ourselves, since Atom is moving away from TextMate for this language.

I'm closing this one out because the bug is fixed on Atom's end by switching grammars, and the Atom team uses issues as a kind of backlog - to keep track of work that we still

[2018-10-01 18:44] maxbrunsfeld commented on #243
This is fixed if you use the new [Tree-sitter](http://tree-sitter.github.io/tree-sitter) parsing system, which is enabled by default in Atom 1.32 Beta. If you're not the beta channel, you can enable it by checking the `Use Tree-sitter Parsers` box in the settings view, or wait for Atom 1.32 Stable to be released. Thanks!

[2018-10-01 18:44] #243 closed

[2018-10-04 04:32] sneiman opened #288 "language-c coloring confused by comments on #define lines"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-10-04 04:45] sneiman commented on #288
working on ubuntu 16.04, using Atom 1.26.1, Electron 1.7.11, Chrome 58.0.3029.110, Node 7.9.0.
Problem is a minor one - syntax coloring does not work properly with sequences of #defines that end with comments. The line following the comment is not syntax colored. Paste the following into a .c or .cpp file to see:

// FireFly control defines
#define FireFly												// so that FireFly related cod

[2018-10-04 04:45] #288 closed

[2018-10-05 00:01] wesinator opened #289 "Escaped percent sign in format string is marked red"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-10-13 00:10] xisui-MSFT opened #290 "Unexpected macro syntax error when macro is in an expression"
Issue Type: <b>Bug</b>

Example:
#ifdef TEST
int func(int a,
#else
int func2(int a,
#endif
int b);

Error: syntax errors around #else and #endif.
Expected: parse correctly.
[Original Issue](https://github.com/Microsoft/vscode/issues/60812)

[2018-10-17 20:00] chbk opened #291 "Missing scope on semicolon"
The semicolon isn't scoped here:

[code]

It should be `punctuation.terminator.statement.c`

[2018-10-21 14:40] chbk opened #292 "Wrong scope on new"
`new` is scoped as `entity.name.function.c` when it should be `keyword.control.cpp`.

[code]

[2018-10-21 14:49] chbk opened #293 "Wrong scope on brackets"
On the third line, `[]` are `keyword.control.cpp` instead of `punctuation.definition.begin|end.bracket.square.c`

[code]

[2018-10-21 17:01] chbk opened #294 "Missing scope on colons"
`:` aren't scoped in the examples below. I suggest the following:

`punctuation.definition.type.colon`
[code]

`punctuation.definition.visibility.colon` (line 3)
[code]

`punctuation.definition.inheritance.colon`
[code]

`punctuation.separator.method.double-colon` for `::` and `punctuation.definition.initialization.colon` for `:`
[code]

[2018-10-22 03:02] Aerijo commented on #292
Is `new` a keyword in C?

[2018-10-23 16:58] chbk opened #295 "Missing scope on commas"
`,` doesn't have a scope in the example below. I suggest `punctuation.separator.class.comma`

[code]

[2018-10-23 17:23] chbk opened #296 "Missing scope on ellipsis"
`...` doesn't have a scope in the example below. I suggest `keyword.operator.exception.ellipsis`

try {} catch (...) {}

[2018-10-23 20:56] chbk opened #297 "Wrong scope on angle brackets"
`<` and `>` are either `keyword.operator.comparison` or not scoped. I suggest `punctuation.definition.template.bracket.angle`

[code]

[2018-10-24 03:11] JasonBaby87 opened #298 ""TODO" is not Colour Highlighted Anymore"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-10-24 16:46] Ben3eeE commented on #298
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/atom/language-todo/issues/82. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code f

[2018-10-24 16:46] #298 closed

[2018-10-27 12:09] cjastone opened #299 "Comments on #define are not highlighted"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-10-30 20:02] someburner commented on #299
I commented in [this](https://github.com/atom/atom/issues/18327) issue that in 1.32.0 syntax highlighting is broken when `Use Tree Sitter Parsers` is enabled. What I'm seeing is similar to what's described by OP in that issue, but for C what happens is highlighting gets messed up when `#ifdef`s are present.

Not sure if this is related to this issue, or is a new issue, so commenting here first. I'

[2018-10-30 20:31] maxbrunsfeld commented on #299
@someburner Yeah, that is a known change due to our new parsing system. It is possible for us to fix, but probably not a super high priority, because it was never a very general behavior. The old parser was just hard-coded to look for `#if 0`, (as opposed to actually determining if the macro evaluated to false), which would be much more generally useful.

For the time being, if that behavior is ve

[2018-10-30 21:11] maxbrunsfeld commented on #299
You can also fold `#ifdef` blocks now, which you usually couldn't do before because the contents are not traditionally indented.

[2018-10-30 21:30] someburner commented on #299
Okay maybe my issue is different and/or related to the syntax I'm using ([fizzy](https://github.com/jglovier/fizzy)).

With Treesitter ticked, I get the following two issues:

### 1: built-in types not highlighted correctly (int, bool, etc)

### 2: Multi-line macros do not highlight

Example:

![image](https://user-images.githubusercontent.com/9430255/47751661-a98e4300-dc4f-11e8-9116-62492ae5ebbe.

[2018-10-30 21:35] Ben3eeE commented on #299
@someburner Please make a new issue and include the code in text so we can take a look, thanks 🙇

[2018-10-30 21:37] maxbrunsfeld commented on #299
What theme are you using? Can you compare with the built in ‘one light syntax’ theme? The highlighting of types used to only work for built in types, but now should work for all types.

[2018-10-30 21:41] someburner commented on #299
I'm using this one: https://github.com/jglovier/fizzy

But these issues are also present when using standard themes like "Atom Light".

A good example to see the behavior is: https://github.com/nodejs/http-parser/blob/master/http_parser.h

[2018-10-30 21:51] maxbrunsfeld commented on #299
:+1: Yeah, agreed. When I said that issue was "already fixed", I mean that the bug has been fixed, but the fix has not yet been published. We're working on getting Atom 1.32.1 out right now.

[2018-10-30 21:53] someburner commented on #299
Ah, okay thanks. I'll wait for 1.32.1 and see how it goes.

[2018-10-30 21:54] maxbrunsfeld commented on #299
But actually, the issue that's fixed is just the macro body thing. I *am* still curious about any problems you're seeing with types being highlighted, because as far as I know, that should work on 1.32. Does *that* problem show up for you on the default theme?

[2018-10-30 22:00] someburner commented on #299
Yeah actually only with fizzy. But when Treesitters is unticked it does highlight. Are there some new directives needed to get that working? I'm a CSS noob :)

[2018-10-30 22:03] maxbrunsfeld commented on #299
Hmm, I'll take a look; our intention was to maintain compatibility with most themes in general use, so sorry about that. Maybe there's some extra classes we can add. Unfortunately, that work won't make it into 1.32.1, but it's on our radar.

[2018-10-31 04:52] cjastone commented on #299
Thanks @maxbrunsfeld - have the update and this is back to normal, keep up the great work everyone!

[2018-10-31 08:02] Ben3eeE commented on #299
Seems like this is because some of the primitive types are scoped as `support.support.type` instead of `support.storage.type`. I opened a PR.

[2018-11-01 20:22] move[bot] opened #304 "Escaped characters in format strings in C are not being highlighted with the new tree-sitter parser"
*@prati0100 commented on Nov 1, 2018, 4:45 PM UTC:*

### Prerequisites

*   [x]  Put an X between the brackets on this line if you have done all of the following:
    *   Reproduced the problem in Safe Mode: [http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode](http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode)
    *   Followed all applicable s

[2018-11-01 20:45] rsese commented on #304
Thanks for the report @prati0100!  Another maintainer mentioned that this seems like the same issue referenced in https://github.com/atom/language-go/pull/158#pullrequestreview-169502573 which ties into a higher-level (not just C-specific) issue at https://github.com/atom/atom/issues/18196.

Feel free to subscribe to https://github.com/atom/atom/issues/18196 if for updates you'd like and we'll kee

[2018-11-02 17:10] Ben3eeE commented on #292
In tree-sitter it's `keyword.operator`.

@thomasjo @maxbrunsfeld What do you think `new` and `delete` should be scoped as?

[2018-11-02 17:38] Ben3eeE commented on #268
Looks like this was resolved.

[2018-11-02 17:38] #268 closed

[2018-11-02 18:33] maxbrunsfeld commented on #292
I don't have a strong opinion, as long as it's `keyword.`-something, so that it's colored like the other keywords in the built-in themes. `keyword.operator` seems fine to me.

[2018-11-02 19:42] Ben3eeE commented on #292
Personally I like `keyword.operator` because I styled `keyword.control` to be italic in my personal stylesheet to get some fancy looking `if`s. But I am fine with whatever 🙂

I'll wait for @thomasjo to reply. @thomasjo Feel free to close this if you think `keyword.operator` is fine. It's actually `keyword.operator.new/delete` so you should be able to style it as a function or the same as `keyword.

[2018-11-02 19:49] chbk commented on #292
I agree with `keyword.operator.new/delete`, it's specific enough to differentiate from other operators.

[2018-11-02 21:01] #292 closed

[2018-11-03 11:30] thomasjo commented on #240
Note that we must handle the `operator` keyword and the operator name (e.g. `+`) as two distinct entities, regardless of optional whitespace between. I suggest that the current scope — `keyword.control.cpp` — is reasonable for `operator`, but not for the entire `operator+` expression. The `+` should be scoped as `entity.name.function.cpp` (or equivalent).

[2018-11-03 17:08] Ben3eeE commented on #240
Right now tree-sitter parses the entire: `operator+` as `operator_name`. If you add a space before the operator and the keyword `operator` it parses with `ERROR` and `math_expression`. Operator is parsed as any identifier.

Am I correct in that it should be parsed as:
* `operator` a separate node for `operator` because it's a keyword. And we want to scope it as `keyword.control`
* `operator_name`

[2018-11-07 02:58] cjastone opened #305 "Macro value of #define not highlighted separately to name"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-11-07 07:02] Ben3eeE commented on #305
Thanks for the report 🙇

Having constant identifiers and constant literals colored the same is an expected change with tree-sitter. It seems like the scope applied in textmate was never really correct either since this was scoped as a function name https://github.com/atom/language-c/issues/197.

@thomasjo Do you have any new thoughts about the naming and scopes we can use here?

Right now we scope

[2018-11-08 21:03] #291 closed

[2018-11-08 21:03] #293 closed

[2018-11-08 21:03] #294 closed

[2018-11-08 21:03] #295 closed

[2018-11-08 21:03] #296 closed

[2018-11-08 21:03] #297 closed

[2018-11-09 12:48] meetaig opened #306 "Syntax highlighting broken when using dot to reference object property"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-11-16 09:43] alexr00 opened #307 "C/C++ grammar does not properly recognize a defines with a comment it in"
_From @ZCShou on November 16, 2018 5:28_

#define IS_UPGRADE_ADDR(addr)					(/*((addr) >= UPGRADE_BASE_ADDR) && */(addr) < UPGRADE_BASE_ADDR + UPGRADE_SPACE_SIZE)

The code after the comments is only classified as source.c

![image](https://user-images.githubusercontent.com/38270282/48613856-224e0880-e98d-11e8-8782-2f823190bd3c.png)

_Copied from original issue: Microsoft/vscode#63273_

[2018-11-16 23:34] wesinator opened #308 "Invalid words following a preceding keyword are still highlighted as keywords"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-11-19 18:40] lee-dohm commented on #285
@aeschli Let us know if you have any suggestions here. I'm going to go ahead and close this for now.

[2018-11-19 18:40] #285 closed

[2018-11-19 19:45] maxbrunsfeld commented on #308
Just to clarify, we're highlighting it as a *type*, not a keyword. If you use that syntax, `integer` is indeed a type.

One concrete example is that you can do this:

[code]

In that case, `MyLibraryInteger`  is a type.

[2018-11-19 21:34] wesinator commented on #308
Ok, it shouldn't highlight the word unless its a defined type.

The problem is this makes it harder to identify that the user typed an invalid type word if any word is highlighted as a type. The example I gave was a real mistake I had made; it would have been easier to spot if the grammar wasn't automatically highlighting the following word.

[2018-11-20 00:54] maxbrunsfeld commented on #308
It sounds like you want built-in types (like `int`) to have a different color than user-defined types (like `MyLibraryInteger` in the example above). I think that makes sense, but I'd like to keep it as a *subtly* different color (as opposed to a completely different color), because I think there's a lot of value in coloring types consistently for visual understanding of structure.

The reason tha

[2018-11-20 03:19] wesinator commented on #308
Yes, that sounds good.

Thanks,

[2018-11-21 12:49] Siguza opened #309 "Function-like calls break string formatting inside parentheses"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-11-23 13:07] alpyre opened #310 "Specs do NOT reflect actual highlighting"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-11-23 13:11] Aerijo commented on #310
Those specs are for a different grammar system than the one being used in your editor, which is why they are passing. To toggle back to the old one, go `Settings -> Core -> Use Tree Sitter Parsers`

As for the issue, someone else will have to comment on that. It does look like the parse tree handles it, but the scopes aren't as before.

[2018-11-26 13:53] t1mg commented on #96
Any update on this issue, or any suggestions on what packages to use for C/C++ development with Atom that provides proper auto indentation?

[2018-11-26 14:10] Aerijo commented on #96
@t1mg you may want to subscribe to [this PR](https://github.com/atom/atom/pull/18321) and try out the associated package.

[2018-11-26 15:58] t1mg commented on #96
@Aerijo thanks that looks promising. Apparently, it doesn't fix this single-statement body problem though, at least not for me (upgraded my atom to 1.32.2 and used sane-indentation 1.0.6, tested in new cpp file).

[2018-11-26 23:37] sean-mcmanus commented on #246
The same issue exists for static_assert, alignas, and typeid.

[2018-11-30 01:07] rsese commented on #309
Thanks for the report!  I can reproduce on macOS 10.12.6 with 1.35.0-nightly1.

[2018-12-01 00:07] wesinator commented on #308
It seems that any undefined word gets highlighted, whether or not it follows an actual keyword
![image](https://user-images.githubusercontent.com/5124946/49320926-74854280-f4d2-11e8-9f4a-0a9434933521.png)

This is astonishing behaviour that negatively affects code reading and debugging

[2018-12-03 21:44] wesinator commented on #308
**Workaround:** uncheck "Use Tree Sitter Parsers"

Between this and https://github.com/atom/language-todo/issues/82, I'm going to avoid Tree Sitter for the time being.

[2018-12-03 21:50] APerricone commented on #146
any news on it? I have the same issue of #250

[2018-12-04 17:18] maxbrunsfeld commented on #308
Hey @wesinator, thanks for raising this issue and providing good examples. The poor error recovery you're seeing in C is a symptom of a missing Tree-sitter feature. I've opened a PR to add that feature (https://github.com/tree-sitter/tree-sitter/pull/246) and in the coming weeks I'll be updating our C parser to make use of it, eliminating this issue.

[2018-12-04 19:48] nigolaj opened #312 "Passing compound literals as function parameter breaks highlighting"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-12-05 07:10] rsese commented on #312
Thanks for the report!  Reproduced on macOS 10.12.6 with 1.33.0.

![no-syntax-c](https://github-slack.s3.amazonaws.com/monosnap/test.c__worktest-tree-sitter_2018-12-05_01-02-27.png)

With that line commented out:

![syntax-c](https://github-slack.s3.amazonaws.com/monosnap/test.c__worktest-tree-sitter_2018-12-05_01-04-09.png)

[2018-12-20 04:31] Josh-Thompson opened #313 "C++ class member function with attribute specifier and trailing return type breaks all following syntax highlighting if it is in a templated class"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-12-20 23:53] rsese commented on #313
Thanks for the report!  I can reproduce with 1.33.1 on macOS 10.12.6.

[2018-12-28 16:08] openformatproj opened #314 "Tree-sitter parsing breaks function-like macro syntax highlighting in C"
### Description

From atom/atom/[Tree-sitter parsing breaks function-like macro syntax highlighting in C #18346](https://github.com/atom/atom/issues/18346)

### Steps to Reproduce

1. define a global function macro, as
[code]
2. instantiate it
[code]

**Expected behavior:** macro names in blue, arguments in white

**Actual behavior:** macro names in orange, arguments in blue, further troubles betw

[2018-12-28 22:47] rsese commented on #314
Thanks @openformatproj - reproduced on macOS 10.12.6 with 1.33.1.  With Tree-sitter:

![tree-sitter](https://github-slack.s3.amazonaws.com/monosnap/Settings__worktest-tree-sitter_2018-12-28_16-44-19.png)

Tree-sitter disabled:

![tree-sitter-disabled](https://github-slack.s3.amazonaws.com/monosnap/Settings__worktest-tree-sitter_2018-12-28_16-45-44.png)

[2019-01-02 21:34] sean-mcmanus opened #315 "Colorization is incorrect with "void */*comment*/""
### Prerequisites

* [ X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for c

[2019-01-07 20:31] sean-mcmanus opened #316 "Colorization of member is incorrect after "? (" occurs."
### Prerequisites

* [x ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for c

[2019-01-08 00:55] rsese commented on #315
...

Thanks for the report!  The current stable release version of Atom is 1.33.1 and Tree-sitter is now on by default.  This particular issue looks like it doesn't reproduce with Tree-sitter:

![atom-1-33-1](https://github-slack.s3.amazonaws.com/monosnap/test.c__worktest-tree-sitter_2019-01-07_18-51-47.png)

As you may have heard, we are migrating from our old [first-mate grammar engine](https://

[2019-01-08 00:55] #315 closed

[2019-01-08 01:01] sean-mcmanus commented on #315
Okay, sorry about that -- I didn't realize I had an old version of Atom.

[2019-01-08 01:02] sean-mcmanus commented on #316
It doesn't repro with the latest version of Atom with the tree-sitter -- I didn't realize I had an old version of Atom.

[2019-01-08 01:02] #316 closed

[2019-01-10 02:20] rsese commented on #246
Looking at the comments in https://github.com/atom/language-c/pull/303, it sounds like fixing this issue as part of that PR was considered along with a number of other issues (https://github.com/atom/language-c/pull/303#issuecomment-435459813) but folks ended up sticking to the initial set of issues mentioned in the PR body.

[2019-01-10 09:35] alexr00 opened #317 "C++17 namespace attributes breaks subsequent classification"
_From @Cre3per on January 8, 2019 15:1_

[code]

_Copied from original issue: Microsoft/vscode#66215_

[2019-01-11 01:14] rsese commented on #317
Thanks for the report!  Unless I'm misunderstanding, this looks like it isn't an issue with Tree-sitter?

![with-tree-sitter](https://github-slack.s3.amazonaws.com/monosnap/test.cpp__worktest-tree-sitter_2019-01-10_19-09-53.png)

Going to go ahead and close as detailed below but let me know if this is also a Tree-sitter issue.

---

As you may have heard, we are migrating from our old [first-mate

[2019-01-11 01:14] #317 closed

[2019-01-16 13:08] prati0100 opened #318 "Stringize and concatenate macros (# and ##) are not highlighted properly"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2019-01-23 23:59] rsese commented on #318
Thanks for the report!  Reproduce with 1.34.0 on macOS 10.12.6:

Tree-sitter:

![tree-sitter](https://github-slack.s3.amazonaws.com/monosnap/Settings__worktest-tree-sitter_2019-01-23_17-54-48.png)

Without:

![tree-sitter-disabled](https://github-slack.s3.amazonaws.com/monosnap/Settings__worktest-tree-sitter_2019-01-23_17-54-15.png)

[2019-01-31 08:57] alexr00 opened #320 "C++ Syntax Highlighting gets confused by apostrophes"
*Edit by @rsese - also an issue with Tree-sitter*

From @Aerijo:

![tree-sitter](https://github-slack.s3.amazonaws.com/monosnap/test.cpp__worktest-tree-sitter_2019-02-01_17-42-22.png)

---

_From @damyanp on January 30, 2019 18:21_

Issue Type: <b>Bug</b>

For example:

[code]

The syntax highlighter thinks that a string starts from the apostrophe betwee the "n" and "t" in "don't" and highlights t

[2019-01-31 08:57] alexr00 commented on #320
_From @damyanp on January 30, 2019 18:22_

Live screenshot:
![image](https://user-images.githubusercontent.com/8118402/52003272-e6e5b500-2478-11e9-8f11-db03d5949bd8.png)

[2019-01-31 08:58] alexr00 commented on #320
After the single quote in the error directive everything is categorized as `string.quoted.singe.c`

[2019-02-01 22:57] rsese commented on #320
Thanks for the report!

Looks like this behavior isn't an issue with Tree-sitter?  E.g.:

![with-tree-sitter](https://github-slack.s3.amazonaws.com/monosnap/test.cpp__worktest-tree-sitter_2019-02-01_16-18-20.png)

So going to go ahead and close as detailed below.

---

As you may have heard, we are migrating from our old [first-mate grammar engine](https://github.com/atom/first-mate) to the [new T

[2019-02-01 23:04] Aerijo commented on #320
@rsese Tree sitter also trips on this, it just recovers before the function.

[2019-02-01 23:47] rsese commented on #320
Ahhh thanks @Aerijo, just went straight to the function :smile:

![tree-sitter](https://github-slack.s3.amazonaws.com/monosnap/test.cpp__worktest-tree-sitter_2019-02-01_17-42-22.png)

[2019-02-03 03:05] jeff-hykin opened #321 "Experimental Syntaxes Please"
### Prerequisites

* [ X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for c

[2019-02-03 16:25] mcandre opened #322 "Enhancement: Highlight unclosed #if/#ifdef/#elif/#else sections"
language-c does a decent job highlighting plain C code. However, C preprocessor directives in user source code files like `#if ...` with no closing `#end` directive, can lead to subtle downstream problems. Could we update the grammar to treat these situations as syntax errors, similar to unclosed brackets?

[2019-02-07 03:41] rsese commented on #321
Thanks for the feedback @jeff-hykin 👍

We've been adjusting our review process over time to help with tracking pull requests but there's of course room for improvement.   Personally, I don't know if the suggested workflow would necessarily speed things up in general but I'll go ahead and share your idea with the other maintainers.

And I'll go ahead and close this out since because we treat our is

[2019-02-07 03:41] #321 closed

[2019-02-09 00:03] jeff-hykin commented on #321
Thanks for responding quickly! I appreciate it.

You guys might like this solution bit more: rather than experimental files, just create an Atom extension "Experimental C++ Syntax" so that the built-in codebase doesn't get bloated.

I use VS Code, so for my own personal use I went ahead and made a VS Code extension and merged some of the pull requests myself. ([link](https://github.com/jeff-hykin/

[2019-02-10 09:46] jeff-hykin commented on #264
@aeschli  If you're still look for a fix, I created a VS code extension that solves the issue (along with many other issues). https://marketplace.visualstudio.com/items?itemName=jeff-hykin.better-cpp-syntax#overview

[2019-02-10 10:03] jeff-hykin commented on #260
If you guys are still looking for a fix, I made a VS Code Extension that fixes this along with several other things. https://marketplace.visualstudio.com/items?itemName=jeff-hykin.better-cpp-syntax#overview

[2019-03-08 15:32] jeff-hykin commented on #245
For VS Code this issue has been moved to https://github.com/jeff-hykin/cpp-textmate-grammar/issues/14

On there I explain why the fix will be difficult. I will work on a solution. Hopefully at minimum it can prevent the styles being broken by the multiple lines.

[2019-03-08 16:57] jeff-hykin commented on #197
I'm working on maintaining the TextMate grammar for VS Code, so I'd like
My vote would be for `entity.name.macro.preprocessor`
The reason is because macros are special beasts that can be/do almost anything:
- constants  e.g. `10`
- variables e.g. `test_var`
- expressions `test_var++`

[2019-03-12 11:20] binaryfunt opened #323 "Scientific number notation not recognised / scoped correctly with tree-sitter"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2019-03-14 02:04] rsese commented on #323
Thanks for the report!  Reproduced with 1.37.0-nightly12 on macOS 10.12.6.  With Tree-sitter disabled:

![tree-sitter-disabled](https://github-slack.s3.amazonaws.com/monosnap/test.c__worktest-tree-sitter_2019-03-13_21-03-49.png)

[2019-04-05 01:32] rsese commented on #322
Chatted with another maintainer about this and they mentioned that with Tree-sitter, it does error recovery when it finds an error so it can't necessarily specifically say where an error occurred but what you're describing could be possible.   At the same time however, it's not something that would get worked on right now since the team is prioritizing other work like bug fixes.

We'll reopen (or

[2019-04-05 01:32] #322 closed

[2019-04-14 07:28] isiahmeadows commented on #146
Related bug: https://github.com/atom/language-gfm/issues/214

I feel the proper solution is two-part:

1. The C and C++ TextMate grammars need to be fully split so neither depends on the other.
2. The grammar should be modified such that `$base` is converted to an actual rule that dispatches to everything, like most other languages' grammars.

[2019-04-14 18:49] jeff-hykin commented on #146
I would imagine though that Atom would be using Tree-sitter parser instead of TextMate. If you want to use a C++ / C TextMate grammar, I'm the maintainer of the VS Code C++ TextMate Grammar, which is a vastly improved fork of the atom/language-c TextMate grammar.

Fully splitting the C++ and C grammar was on of the first things done on the `jeff-hykin/cpp-textmate-grammar` repo. I'm not sure what

[2019-04-15 04:16] isiahmeadows commented on #146
@jeff-hykin Atom does use Tree Sitter normally for C files, but [not for its GFM grammar](https://github.com/atom/language-gfm/issues/214#issuecomment-482918153). And it doesn't let TextMate grammars delegate to Tree Sitter grammars (or vice versa). It'd be nice, but it doesn't.

[2019-04-18 20:53] #312 closed

[2019-04-18 20:54] #313 closed

[2019-04-18 21:45] #323 closed

[2019-04-18 23:25] maxbrunsfeld commented on #312
Thanks for the report! This will ship in Atom 1.38.

[2019-04-18 23:25] maxbrunsfeld commented on #323
Thanks for the report! This will ship in Atom 1.38.

[2019-04-18 23:50] maxbrunsfeld commented on #153
This is fixed via https://github.com/tree-sitter/tree-sitter-c/commit/fd42e7588684cce690b4e3b9231c727206f80df5. The fix will go out in Atom 1.38.

[2019-04-18 23:50] #153 closed

[2019-04-18 23:52] maxbrunsfeld commented on #280
This code displays correctly as long as the Tree-sitter parser is enabled.

[2019-04-19 04:39] rsese commented on #280
Thanks Max :+1: and thanks for sharing the report @aeschli - since this problem isn't an issue with Tree-sitter, we'll go ahead and close per the notes below.

---

As you may have heard, we are migrating from our old [first-mate grammar engine](https://github.com/atom/first-mate) to the [new Tree-sitter engine](https://blog.github.com/2018-10-31-atoms-new-parsing-system/). This will enable a numb

[2019-04-19 04:39] #280 closed

[2019-04-23 05:21] jeff-hykin commented on #146
So I found out the embeddings are a bit harder to solve, at least for VS Code.

Markdown needs `$base` to be changed to be `$self`, so that C++ doesn't inject markdown into its patterns. However, the Objective-C and Objective-C++ TextMate grammars need the C and C++ syntax to keep things as `$base` because they inherit/import the C and C++ syntax. Just a heads up, its something we're still working

[2019-04-23 10:54] isiahmeadows commented on #146
I get the feeling this is really blocked on https://github.com/atom/first-mate/pull/90. I find it odd it hasn't gotten elevated in priority yet, considering how many issues it unblocks.

[2019-04-25 15:36] amin-gholizad opened #325 "c++ highlighting and code folding gets confused with structural binding in fancy for loop"
### Description
`for (auto [x,y]:vec)`
makes the highlighting and code folding behave strangely. it gets confused about which `{` belongs to which `}` and code inside the for loop gets confused.

![image](https://user-images.githubusercontent.com/39440488/56748295-d0f44180-6794-11e9-8660-1541db06dbf9.png)

workaround that I use

![image](https://user-images.githubusercontent.com/39440488/56748369-

[2019-04-26 21:30] 50Wliu commented on #325
Thanks for creating the issue; confirmed.

[2019-05-07 16:51] Tralomine opened #326 "[C++] a < comparison followed by a >= comparison is tokenized wrongly"
### Description

a < comparison followed by a >= comparison is tokenized wrongly

### Steps to Reproduce

1. try typing
[code]
2. ???
3. profit

![image](https://user-images.githubusercontent.com/11725390/57316846-08e57800-70f7-11e9-91c3-71dc1a468ad7.png)

**Expected behavior:** the comparisons operators should be all the same color and in only one token

**Actual behavior:** they are split and co

[2019-05-07 17:55] 50Wliu commented on #326
Reproduced with the C++ tree-sitter grammar but not the C one.

[2019-05-08 07:34] Ben3eeE commented on #326
Tree sitter parses this as:

template_function
template_argument_list

Because there is a starting and ending angle bracket in the statement.

Which is scoped as `punctuation.definition.template.bracket.angle` because it isn't an operator when it's a template definition here:
https://github.com/atom/language-c/blob/a355a4d4a019d5684c40072b81f24c89e58dc56f/grammars/tree-sitter-cpp.cson#L198-L201

T

[2019-05-08 22:11] Ben3eeE commented on #325
This is because of a parsing error in tree-sitter:

[code]

[code]

/cc: @maxbrunsfeld I couldn't find a reference for the valid syntax for this. It seems like tree-sitter-cpp parses some range based for loops but not if it has structural binding.

[2019-05-08 23:05] #320 closed

[2019-05-08 23:06] maxbrunsfeld commented on #307
This only affects the TextMate parser; it's not a problem for the Tree-sitter parser.

[2019-05-08 23:06] #307 closed

[2019-05-08 23:10] maxbrunsfeld commented on #320
This doesn't affect the Tree-sitter parser anymore.

[2019-05-08 23:15] maxbrunsfeld commented on #325
Thanks for the report! This will be fixed in Atom 1.38 (and 1.38-beta0).

[2019-05-08 23:15] #325 closed

[2019-05-08 23:15] maxbrunsfeld commented on #326
Thanks for the report! The fix will ship in Atom 1.38 (and 1.38-beta0).

[2019-05-08 23:15] #326 closed

[2019-05-09 12:25] marehr opened #327 "Backslash in a single comment messes up the syntax highlighting."
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2019-05-09 20:34] rsese commented on #327
Thanks @marehr - reproduced with 1.38.0-nightly21 on macOS 10.12.6 and also see it works ok with Tree-sitter disabled.

[2019-05-20 10:25] fanruizhe opened #329 "Failed to load a language-c package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.37.0 x64
**Electron**: 2.0.18
**OS**: Unknown Windows version
**Thrown From**: [language-c](https://github.com/atom/language-c) package 0.60.14

### Stack Trace

Failed to load a language-c package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-05-21 05:48] rsese commented on #329
Thanks for the report - do you see this error just when starting Atom?  Also, did this start happening only recently, maybe after updating to 1.37.0?

[2019-06-03 21:44] jeff-hykin commented on #146
This issue is now fixed on https://github.com/jeff-hykin/cpp-textmate-grammar

The Objective-C and Objective-C++ TM grammars were added and made to be independent of the C and C++ syntaxes, and then the C and C++ TM grammars were effectively changed from `$base` to `$self` which has fixed the issue in markdown files.

[2019-06-05 14:01] Ben3eeE commented on #327
Seems like https://github.com/tree-sitter/tree-sitter-c/pull/17 could fix this issue.

[2019-06-05 20:20] marehr commented on #327
I think so too! Thank you for sharing!

[2019-06-18 05:56] #329 closed

[2019-06-19 19:30] BeefaloKing opened #332 "Template Class Constructor Incorrect Highlighting"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2019-06-19 20:40] theslyprofessor commented on #327
This is a Newb question, but how do I turn off tree sitter in the Atom package Language-C?

[2019-06-19 21:08] marehr commented on #327
Go to Settings Packages -> Settings view -> Open, then go to Core and at the bottom find the checkbox "Use Tree Sitter Parsers". Uncheck it.

[2019-06-20 02:01] rsese commented on #332
Thanks for the report!  Noting I see the same thing as your screenshot in 1.40.0-nightly10 on macOS 10.12.6.

Just so I'm on the same page, can you point to exactly where this is in your example?

[2019-06-20 15:25] BeefaloKing commented on #332
The `foo()` and `data(nullptr)` on line 17.  These should match the highlighting for the constructor `bar()` on line 20.

Additionally, if `foo()` were not a constructor, and had a return type, it would be highlighted correctly. (e.g. `template<typename T> int foo<T>::foobar()`)

[2019-06-24 20:30] rsese commented on #332
Heyo @maxbrunsfeld :wave:!  We talked about this one today and think it might belong in https://github.com/tree-sitter/tree-sitter-cpp but were wondering if you could confirm?

[2019-06-24 20:42] maxbrunsfeld commented on #332
Yup, you're right: we currently don't parse those template constructors correctly. Thanks!

[2019-06-24 20:42] maxbrunsfeld commented on #327
This is fixed on master.

[2019-06-24 23:36] BeefaloKing commented on #332
Should I create a separate issue over there or is this (part of) an already known issue?

[2019-06-25 05:04] #327 closed

[2019-06-25 17:22] rsese commented on #332
ahh sorry, missed your comment @BeefaloKing - I went ahead and copied over your issue so we'll close this in favor of that issue: https://github.com/tree-sitter/tree-sitter-cpp/issues/50.

[2019-06-25 17:22] #332 closed

[2019-08-26 11:15] WoltChesTOR opened #333 "THATS THE CODE 1: #AONE"
## Summary

## Motivation

## Describe alternatives you've considered

## Additional context

[2019-08-26 11:25] Alexey-T commented on #333
I upvote this, thanks.

[2019-09-09 17:59] FunkyBoby opened #334 "Error in C syntax coloring on string literal"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2019-09-10 23:06] rsese commented on #334
Thanks for the report!  Does this seem like a good full minimal working example of the problem?  I can reproduce the issue you described with this snippet but it's always helpful to have a self-contained minimal example so just wanted to double check.

[code]

[2019-09-11 08:00] FunkyBoby commented on #334
Hi Robert,

Yes, I confirm that your snippet compiles without errors, and produces the same syntax coloring issue :

![Bug_Atom4](https://user-images.githubusercontent.com/10470407/64678950-edaac080-d47a-11e9-9369-ca6f25499c34.PNG)

Thanks !

[2019-09-12 02:32] llodds commented on #136
This issue should be addressed with higher priority. This is a big failure in Atom design for C++ codes. It prevents users from writing readable codes. I am very surprised that after three years this issue is still there.

[2019-09-18 13:55] barisdemiray opened #335 "Code block disabled with #if 0 is not grayed out"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2019-09-18 20:24] rsese commented on #335
Thanks for the report!  Reproduced with 1.42.0-nightly7 on macOS 10.14.6:

![preprocessor-treesitter](https://user-images.githubusercontent.com/734194/65183072-486a8c00-da28-11e9-8977-b7ca6244a1f8.png)

For comparison with Tree-sitter disabled and checking the scopes for any of the greyed out text:

![preprocessor-textmate](https://user-images.githubusercontent.com/734194/65183084-51f3f400-da28-11

[2019-12-05 13:58] Jako4458 opened #338 "Multiline / ANSI C comments /* */"
I don't excatly know whether it is possible already, but i really would love it, if it was possible to make the shortcut "ctrl + shift + 7 " always make comments as /* comment */ as this is preffered in ANSI C.

[2019-12-23 23:48] eugmes opened #339 "Injection regex is specified too broadly for tree-sitter-c grammar"
## Summary

Injection regex is specified too broadly for tree-sitter-c grammar. It matches anything that contains letter 'c' in it.

## Motivation

This behavior is confusing when one tries to add injection points for languages like ocaml (not possible right now anyway).

The current code is here: https://github.com/atom/language-c/blob/af1e7f5ec8a2db9337a7e0c86e5286d5cef47d3d/grammars/tree-sitter

[2020-01-08 09:32] HardcoderFool opened #340 "Lib c autocompletion"
## Summary

On atom when you type a p in a .c printf is suggested, is it possible to add this fonctionnality to all lib c install on the computer when the lib is inlude?
![printf](https://user-images.githubusercontent.com/44810231/71968061-8d4b4600-3204-11ea-8133-24c668c96f0b.png)

## Motivation

When you use a new lib it can be very usefull to have all function in atom and not always switch to do

[2020-03-19 06:00] sandeepm75 opened #341 "Failed to load a language-c package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.45.0 x64
**Electron**: 4.2.7
**OS**: Microsoft Windows 10 Home Single Language
**Thrown From**: [language-c](https://github.com/atom/language-c) package 0.60.18

### Stack Trace

Failed to load a language-c package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-03-20 20:42] darangi commented on #341
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2020-03-20 20:42] #341 closed

[2020-04-09 07:24] ToxicPie opened #342 "C++ lambda return type parsed as variable name"
### Description

Lambda return type in C++ is parsed as a variable name if the lambda is placed inside a scope.

Example:

![image](https://user-images.githubusercontent.com/24191166/78868710-f8abea80-7a75-11ea-8a8f-d3e871e0d3cb.png)

[code]

[2020-04-09 19:57] SoAsEr opened #343 "I can't delete this issue"
I was writing another issue and then accidently hit enter. Please delete

[2020-04-09 20:01] SoAsEr commented on #343
I

[2020-04-09 20:01] #343 closed

[2020-04-09 20:15] SoAsEr opened #344 "namespace marker "::" breaks bracket highlights when after "operator" with a return type with more than one token"
if I type
[code]
then the bracket after the return statement is parsed as belonging to test{
if I only have one token in the return statement, like this:
[code]
then it is parsed correctly.
Removing the namespace:
[code]
also fixes the parsing

The incorrect parsing of this bracket causes the rest of the file to be incorrectly parsed as well.

This might be related to https://github.com/atom/langu

[2020-04-10 18:24] lkashef commented on #344
Hey @SoAsEr, thanks for the report!

Please use the template to help us address your report more efficiently.

Also it would be better to open two different issues if you think that the two problems you reported are not related.

Could you also confirm if you are using tree-sitter or TextMate?

[2020-04-10 18:50] lkashef commented on #342
Hey @ToxicPie, thanks for the report!

Could you please fill-in the template (you can copy the template by creating a new issue), the part I am most interested in is the `Expected Behavior` section.

I tried to check the scope for `int a` and it seems to match the `int` in lambada, knowing more about what you think the behavior should be, would be helpful.

[2020-04-11 16:53] SoAsEr commented on #344
I believe it's tree sitter, I'm not a power user of atom, but when I do cmd shift L and choose a language, it has a green tree sitter marker next to c++

[2020-04-18 09:43] mansoorahmedme opened #345 "Edit existing snippets."
Is there a way to edit existing snippets.

[2020-04-30 20:00] #345 closed

[2020-05-08 17:33] sean-gl commented on #136
been fixed yet?

[2020-05-08 19:34] #342 closed

[2020-05-09 23:01] LILIANYE20 opened #347 "Failed to load a language-c package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.46.0 x64
**Electron**: 4.2.7
**OS**: Unknown Windows version
**Thrown From**: [language-c](https://github.com/atom/language-c) package 0.60.18

### Stack Trace

Failed to load a language-c package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-05-14 17:00] darangi commented on #347
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2020-05-14 17:00] #347 closed

[2020-05-20 19:41] hayacon opened #348 "Failed to load a language-c package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.46.0 x64
**Electron**: 4.2.7
**OS**: Unknown macOS version
**Thrown From**: [language-c](https://github.com/atom/language-c) package 0.60.18

### Stack Trace

Failed to load a language-c package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-05-22 22:37] slothbirdbeard opened #349 "Failed to load a language-c package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.47.0 x64
**Electron**: 5.0.13
**OS**: Microsoft Windows 10 Home
**Thrown From**: [language-c](https://github.com/atom/language-c) package 0.60.19

### Stack Trace

Failed to load a language-c package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-06-22 14:21] simplerick opened #350 "Doubtful syntax highlighting"
### Description

Variable  is highlighted as a function. Screenshot:
![Screenshot from 2020-06-22 16-42-32](https://user-images.githubusercontent.com/32038973/85294540-6ed1c200-b4a7-11ea-96a8-b526a408acbc.png)

### Steps to Reproduce

Type code:
[code]

**Expected behavior:**

a in a[i] isn't highlighted.

### Versions

apm  2.5.0
npm  6.14.5
node 14.4.0 x64
atom 1.48.0
python 3.8.3
git 2.27.0

OS

[2020-08-29 15:27] mason1920 opened #352 "Implicit Conversion to Pointer to Type with Name >= 5 chars Breaks Highlighting (C++)"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2020-10-09 23:47] mason1920 opened #355 "Syntax Highlighting Breaks When Assigning Lambdas That Don't Take Params"
### Prerequisites

* [ x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2020-10-15 17:21] sylvere-k opened #356 "syntax/grammar color broke with 'operator'"
I noticed that you can't type "operator+" when I wan't to overload an operator in a custom class (or anything like that) else "operator" and the '+' sign won't be colored as they should.
The only way to have them colored the right way is to separate them with spaces "operator + ", which is awful but could be fine IF it didn't broke the color/grammar/syntax of the rest of the function/etc :
when do

[2021-01-07 15:00] utkarsh2002154 opened #360 "Coursera assignment"
![IMG_20210105_152030.jpg](https://user-images.githubusercontent.com/77112164/103907261-11d9e880-5127-11eb-959a-ac9cb3173281.jpg)

[2021-01-07 16:58] utkarsh2002154 opened #361 "Help for an assignment"
![IMG_20210105_152030.jpg](https://user-images.githubusercontent.com/77112164/103920681-99c7ee80-5137-11eb-82e2-22f90b86a7c5.jpg)

[2021-01-09 19:42] UlviShukurzade opened #362 "Failed to load a language-c package grammar"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.51.0 x64
**Electron**: 5.0.13
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [language-c](https://github.com/atom/language-c) package 0.60.19

### Stack Trace

Failed to load a language-c package grammar

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2021-01-24 06:37] SabirKhanek commented on #96
is there any package to auto indent syntax in atom for C++ ide.

[2021-01-31 11:19] meyfa commented on #81
This seems to be fixed (try the copy-paste example above with a recent Atom version). I think the issue can be closed.

[2021-02-03 06:26] Ahsoka commented on #60
If possible can this issue be revisited?  I was writing C and this issue is still present.  Thank you for revisiting this issue!

[2021-04-10 22:37] CPterion commented on #356
### More details:
The highlighting error is fixed when `>` is added.
![No >](https://user-images.githubusercontent.com/71970115/114286251-9ffb9d00-9a8f-11eb-994d-cf085b9d7539.png)
![With >](https://user-images.githubusercontent.com/71970115/114286252-a0943380-9a8f-11eb-8257-e98d9216bc9c.png)

Also, the following code has a problem:
[code]

The highlighting error is partially fixed when a non-white

[2021-06-02 10:00] chbk commented on #356
Looks like this is a Tree-sitter issue. You should post it here: https://github.com/tree-sitter/tree-sitter-cpp/issues

[2021-06-02 10:02] chbk commented on #356
Mentioned here: https://github.com/tree-sitter/tree-sitter-cpp/issues/110

[2021-09-18 11:20] discretegames commented on #146
@jeff-hykin Does your last comment apply to VSCode or only to Atom? I tried your VSCode extension and C embedded in markdown still had issues:

![C embedded in markdown syntax highlighting issue](https://user-images.githubusercontent.com/35741644/133886933-29e163fc-b874-4755-be04-71e372d386d0.png)

Namely the white printf and return lines.

[2021-09-18 19:22] jeff-hykin commented on #146
Sorta. The atom maintainers just need to import it.

But, Atom Community is maintained better than the original Atom repo. I try to help out over there when I can. If it doesn't have the fix merged in, we can get it merged in over there.

[2021-09-18 20:21] discretegames commented on #146
Sorry, I'm not certain I understand. I was asking about the embedded
highlighting behavior in VSCode - I'm not sure how that relates to Atom.
(Though I realize I probably shouldn't be asking about vsc on the atom
repo.)

On Sat, Sep 18, 2021 at 12:22 PM Jeff Hykin ***@***.***>
wrote:

[2021-09-18 23:50] jeff-hykin commented on #146
Oh that's my bad I didn't pay attention to the screenshot.

Yeah if it's broken in vs code that's a problem.

[2021-09-19 04:56] discretegames commented on #146
I tried with the Better C++ Syntax extension (and restarted VSCode to make sure) but the C code embedded in markdown is highlighted in the exact same faulty way.

[2021-09-19 12:55] jeff-hykin commented on #146
Oh, that explains it. A bit more than a week ago I broke up the C++/C/Objective-C/Objective-C++ into seperate repos/extensions. Try installing the better-c-syntax and let me know if that fixes it.

There is still a problem; it shouldn't need an extension to be fixed, but if the extension doesn't fix it there's a much bigger problem.

[2021-09-19 21:03] discretegames commented on #146
Hmm, even with the Better C Syntax VSCode extension the issue persists.

![image](https://user-images.githubusercontent.com/35741644/133942912-8d3ea0d5-6488-4425-b504-ad8d625a9144.png)

I went and tried several extensions and extension packs and none fixed the issue. Microsoft's C/C++ Themes did change the highlight colors but `printf("Hello, World!\n");` and `return 0;` were still white in the C

[2021-09-20 21:06] jeff-hykin commented on #146
Welp, looks like that problem has actually been there for a long time. I went ahead and fixed it just now and published a new version

[2021-09-27 20:15] #356 closed

[2021-09-28 00:58] user253272 commented on #96
It's far from ideal, but I found a simple workaround for this issue. Add the following to your `init.coffee` script (**File -> Init Script**):

[code]

and this to `keymap.cson` (**File -> Keymap**):

[code]

[2022-04-13 01:02] camnanaf4 opened #370 "Failed to load a language-c package grammar"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2022-07-23 11:29] krishnamodepalli opened #371 "Where are the default atom core packages are stored in linux."
## Query

**Where are the atom default core-packages are stored in linux.**
By 'core-packages' , I mean something like,

- language-c
- language-html
- etc.

### Why am I asking this,

No **specific** Reason,  But it will help me customising atom to more extinct, which adds more meaning to _ATOM: A HACKABLE TEXT EDITOR_

## At last,

**If anything about my question or above content seems rude or m

[2022-07-23 18:17] krishnamodepalli commented on #371
More specifically,
 Where is the language-c package is located in Linux.

Or else, Where is the language-c snippets.cson file in Linux.